<h1>New Seat</h1>

<%= form_with(model: @seat) do |form| %>
  <% if @seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
        <% @seat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.number_field :department_id %>
  </div>

  <div class="field">
    <%= form.label :dep_name %>
    <%= form.text_field :dep_name %>
  </div>

  <div class="field">
    <%= form.label :typology %>
    <%= form.text_field :typology %>
  </div>

  <div class="field">
    <%= form.label :space_name %>
    <%= form.text_field :space_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', seats_path %>
