<p id="notice"><%= notice %></p>

<p>
  <strong>Dep name:</strong>
  <%= @temp_sp.dep_name %>
</p>

<p>
  <strong>Typology:</strong>
  <%= @temp_sp.typology %>
</p>

<p>
  <strong>Name:</strong>
  <%= @temp_sp.name %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @temp_sp.floor %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @temp_sp.number_of_seats %>
</p>

<p>
  <strong>State:</strong>
  <%= @temp_sp.state %>
</p>

<%= link_to 'Edit', edit_temp_sp_path(@temp_sp) %> |
<%= link_to 'Back', temp_sps_path %>
