<!DOCTYPE html>
<html lang="it">
<head>

	<title> Spazi Preferiti - Spacebook </title>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css">

	<script>
		$(document).ready(function () {
			$('#datatableSpaziPreferiti').DataTable({
				dom: '<"row"<"col"t>><"row mt-1"<"col"p>>',
				scrollX: true,
				filter: 'false',
				pagingType: "simple_numbers",
				pageLength: 7,
				language: {
					zeroRecords: 'Nessuno spazio preferito',
					paginate: {
						first:    '<i class="bi bi-caret-left-fill"></i>',
						previous: '<i class="bi bi-arrow-left-circle"></i>',
						next:     '<i class="bi bi-arrow-right-circle"></i>',
						last:     '<i class="bi bi-caret-right-fill"></i>'
					}
				}
			});
		});
	</script>

</head>

<body>

<div class="row mt-4 justify-content-center">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header text-center">
				<label class="h3 my-3"> Spazi preferiti </label>
			</div>
			<div class="card-body">
				<table id="datatableSpaziPreferiti" class="display table-responsive table-striped table-hover" width="100%">
					<thead>
						<tr>
							<td class="h5">Dipartimento</td>
							<td class="h5">Tipologia</td>
							<td class="h5">Spazio</td>
							<td class="h5 opt-no-sort">Prenota</td>
							<td class="h5 opt-no-sort">Rimuovi</td>
						</tr>
					</thead>
					<tbody>
						<% @favourite_spaces.each do |favourite_space| %>
							<tr>
								<td><%= favourite_space.dep_name %></td>
								<td><%= favourite_space.typology %></td>
								<td><%= favourite_space.space_name %></td>
								<td>
									<%= form_with url: set_department_path, local: true, method: :post do |form| %>
										<%= form.text_field :selected_dep_name, value: "#{Department.find( Space.find(favourite_space.space_id).department_id).name}", style: 'display: none' %>
										<%= form.text_field :selected_typology, value: "#{favourite_space.typology}", style: 'display: none' %>
										<%= form.text_field :selected_space, value: "#{favourite_space.space_name}", style: 'display: none' %>
										<%= form.text_field :filter, value: "Dep_Typ_Sp", style: 'display: none' %>
										<button class="btn btn-outline-info bi bi-cursor" style="width: 100%"></button>
										<% form.submit '' %>
									<% end %>
								</td>
								<td><%= link_to '', favourite_space, method: :delete, data: { confirm: 'Sei sicuro?' }, class: "btn btn-outline-info bi bi-trash", id: favourite_space.id.to_s, style: "width: 100%" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</body>
</html>