<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Area personale - Spacebook </title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'personal_area', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<!-- <div class="page"> -->
		<div class="sinistra">
			<div class="card" id="miePre">
				<div class="box-img">
					<img class="cardIMG" src="https://i.pinimg.com/564x/a8/f6/16/a8f616ac07e34955d19b0f3b841464ae.jpg">
				</div>
				<div class="card-body">
					<h6 class="card-title"> Le mie prenotazioni </h6>
					<button class="btnCardSN" onclick="window.location.href='/user_reservations'"> VAI </button>
				</div>
			</div>
			<div class="card" id="spaziPre">
				<div class="box-img">
					<img class="cardIMG" src="https://i.pinimg.com/736x/6c/d8/88/6cd888c15ab763b64f63ead68c0360e0.jpg">
				</div>
				<div class="card-body">
					<h6 class="card-title"> Spazi preferiti </h6>
					<button class="btnCardSN" onclick="window.location.href='/favourite_spaces'"> VAI </button>
				</div>
			</div>
			<div class="card" id="nuovaPre">
				<div class="box-img">
					<img class="cardIMG" src="https://i.pinimg.com/564x/3f/18/f9/3f18f9877c8676d710990def7a668a76.jpg">
				</div>
				<div class="card-body">
					<h6 class="card-title"> Effettua una nuova prenotazione </h6>
					<button class="btnCardSN" onclick="window.location.href='/make_reservations'"> VAI </button>
				</div>
			</div>
			<div class="card" id="rapidaPre">
				<div class="box-img">
					<img class="cardIMG" src="https://i.pinimg.com/564x/0c/86/8e/0c868e529d2caa0a30a6b83616b8acd9.jpg">
				</div>
				<div class="card-body">
					<h6 class="card-title"> Effettua prenotazione rapida </h6>
					<button class="btnCardSN"> VAI </button>
				</div>
			</div>
			<% if current_user.is_manager? %>
				<div class="card" id="mioDip">
					<div class="box-img">
						<img class="cardIMG" src="https://i.pinimg.com/564x/4a/71/d2/4a71d2ab6833fe82829bbd76ce5654cc.jpg">
						<div class="card-body">
							<h6 class="card-title"> Il mio dipartimento </h6>
							<button class="btnCardSN" onclick="window.location.href='/manager_department'"> VAI </button>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div class="destra">
			<div class="utente">
				<div class="card">
					<div class="card-body">
						<h6 class="card-title"> Info utente </h6>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"> 
							<label class="label"> Email: <%= current_user.email %> </label>
						</li>
						<li class="list-group-item"> 
							<label class="label"> Password: <%= current_user.password %> </label> 
							<button class="btnCardDXpass"> modifica </button>
						</li>
					</ul>
				</div>
			</div>

			<div class="sincro">
				<td width="30%">
					<button class="btnCardDXsincro">sincronizza</button> Google calendar<br>
					<div class="linkMaps">
						<img class="imgMappa" src="https://i.pinimg.com/564x/9f/67/bd/9f67bd1001890ae854c4524e5968af13.jpg">
					</div>
				</td>
			</div>
		</div>

	<!-- </div> -->
</body>
</html>