<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Area personale - Spacebook </title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<!-- <%= stylesheet_link_tag 'personal_area', media: 'all', 'data-turbolinks-track': 'reload' %> -->
	<%= stylesheet_link_tag 'departments', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'optimised_session_timeout_poller'%> <!-- INIZIALIIZZA IL TIMER DI INATTIVITÀ -->
</head>

<body>

	<!-- Page content-->
	<div class="container">
		<div class="row">
			<!-- SINISTRA -->
			<div class="col-lg-8">
				<!-- Introduzione -->
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title"> Benvenuto nella tua area personale </h2>
						<p class="card-text">
							Qui potrai accedere rapidamente ai tuoi spazi preferiti, potrai visualizzare tutte le prenotazioni che hai effettuato,
							effettuarne di nuove e aggiungere uno spazio per la prenotazione rapida (ti semplificherà la vita quando sarai in ritardo
							per la lezioni e ti accorgerai all'ultimo di esserti dimenticato di prenotare)
						</p>
					</div>
				</div>

				<!-- Link alle varie pagine -->
				<div class="row">
					<div class="col-sm-6">
						<div class="card bg-dark text-white mb-4">
							<div class="card-body"> Le mie prenotazioni </div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="/user_reservations"> Visualizza </a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card bg-dark text-white mb-4">
							<div class="card-body"> Spazi preferiti </div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="/favourite_spaces"> Visualizza </a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card bg-dark text-white mb-4">
							<div class="card-body"> Effettua una nuova prenotazione </div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="/make_reservation"> Visualizza </a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card bg-dark text-white mb-4">
							<div class="card-body"> Effettua prenotazione rapida </div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="#"> Visualizza </a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>

					<% if current_user.roles in ["manager"] %>
					<div class="col-sm-12">	
						<div class="card bg-dark text-white mb-4">
							<div class="card-body"> Il mio dipartimento </div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="/manager_department"> Visualizza </a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<!-- DESTRA -->
			<div class="col-lg-4">
				<!-- Info utente -->
				<div class="card mb-4">
					<div class="card-body">
						<h6 class="card-title"> Info utente </h6>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"> 
							<label class="label"> Email: <%= current_user.email %> </label>
						</li>
						<li class="list-group-item"> 
							<label class="label"> Password: <%= current_user.password %> </label> 
							<button class="btnCardPassword"> modifica </button>
						</li>
					</ul>
				</div>

				<!-- calendario per sincronizzazione AL MOMENTO SE SI È COLLEGATI TRAMITE GOOGLE IL CALENDARIO VIENE FORMATO CON I PROSSIMI 10 EVENTI ALL'INTERNO-->
				<div class="card mb-4">
					<div class="card-header"> Google Calendar  </div>
					<% if current_user.access_token!=nil%><!-- SE IL TOKEN È PRESENTE VIENE INVIATA LA RICHIESTA A CALENDAR -->
						<% @hash=load_events %>
						<%= month_calendar do |date| %>
							<%= date.day %>
							<div>
							<% if @hash[date.to_s]!=nil %>
								<font size="-2"><%= @hash[date.to_s][0]%></font>
								<font size="-3" color="blue"><%= @hash[date.to_s][1]%></font>	
							<% end %>
							</div>
						<% end %>
					<% else %><!-- IN CASO L'ACCESSO NON SIA STATO EFFETTUATO TRAMITE GOOGLE VIENE PRODOTTO UN CALENDARIO SENZA EVENTI-->
						<%= month_calendar do |date| %>
							<%= date.day %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>