<h1>New Space</h1>

<%= form_with(model: @space) do |form| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
        <% @space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.number_field :department_id %>
  </div>

  <div class="field">
    <%= form.label :dep_name %>
    <%= form.text_field :dep_name %>
  </div>

  <div class="field">
    <%= form.label :typology %>
    <%= form.text_field :typology %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor %>
  </div>

  <div class="field">
    <%= form.label :number_of_seats %>
    <%= form.number_field :number_of_seats %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', spaces_path %>
