<!-- Modal di modifica che permette ad un manager di aggiornare alcuni campi del suo dipartimento -->

<div class="modal fade" id="tempSpID<%= mydep.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> Modifica "<%= mydep.name %>" </h5>
                <button type="button" class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_with(model: mydep) do |form| %>
                    <% if mydep.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
                        <div id="error_explanation">
                            <h2><%= pluralize(mydep.errors.count, "error") %> prohibited this department from being saved:</h2>
                            <ul>
                                <% mydep.errors.each do |error| %>
                                    <li><%= error.full_message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <!-- Campi inseriti dal manager -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">                            
                                <%= form.text_field :name, :class=>"form-control", :id=>"depName", :placeholder=>"plh"%>
                                <label for="depName"> Nome </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <%= form.number_field :floors, :class=>"form-control", :id=>"numPiani", :placeholder=>"plh"%>
                                <label for="numPiani"> Numero dei piani dell'edificio </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <%= form.text_field :via, :class=>"form-control", :id=>"via", :placeholder=>"plh"%>
                                <label for="via"> Via, Viale, Piazza... </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <%= form.text_field :civico, :class=>"form-control", :id=>"civico", :placeholder=>"plh"%>
                                <label for="civico"> n° civico </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <%= form.text_field :cap, :class=>"form-control", :id=>"cap", :placeholder=>"plh"%>
                                <label for="cap"> Cap </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                <%= form.text_field :citta, :class=>"form-control", :id=>"citta", :placeholder=>"plh"%>
                                <label for="citta"> Città </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-floating mb-3">
                                <%= form.text_field :provincia, :class=>"form-control", :id=>"provincia", :placeholder=>"plh"%>
                                <label for="provincia"> Provincia </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <div class="label h6">
                            <%= form.label 'Descrizione del dipartimento' %>
                        </div>
                        <div class="field"> 
                            <%= form.text_area :description, :class=>"form-control", rows: 5, :style=>"width:100%" %>
                        </div>
                    </div>

                    <!-- Tasto per aggiornare -->
                    <div class="actions">
                        <%= form.submit "Aggiorna", class:"btn btn-info", style: "width: 100%"%>
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</div>