<!-- Pagina che permette ad un manager di aggiornare alcuni campi del suo dipartimento -->

<%= form_with(model: @department) do |form| %>
    <% if @department.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
        <div id="error_explanation">
            <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

            <ul>
                <% @department.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!-- Campi non aggiornabili dall'utente --> 
    <div class="field", style='display:none'>
        <%= form.label 'manager id' %>
        <%= form.number_field :user_id, required: true, value:current_user.id, readonly: true, size: 20%>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'Nome del dipartimento' %>
        <%= form.text_field :name, required: true, value:@department.name, readonly: true %>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'E-mail del manager' %>
        <%= form.text_field :manager, required: true, value:current_user.email, readonly: true, size: 20 %>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'Via, Viale, Piazza...' %>
        <%= form.text_field :via, required: true, value:@department.via, readonly: true %>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'n. civico' %>
        <%= form.text_field :civico, required: true, value:@department.civico, readonly: true %>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'Cap' %>
        <%= form.text_field :cap, required: true, value:@department.cap, readonly: true %>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'Città' %>
        <%= form.text_field :citta, required: true, value:@department.citta, readonly: true %>
    </div>

    <div class="field", style='display:none'>
        <%= form.label 'Provincia' %>
        <%= form.text_field :provincia, required: true, value:@department.provincia, readonly: true %>
    </div>

    <!-- Campi inseriti dal manager -->
    <table border = "1">
        <head>
            <tr><td colspan="4" style="text-align:center"><h1> Puoi aggiornare i seguenti campi del tuo dipartimento </h1></td></tr>
        </head>
        <body>
            <tr>
                <td>
                    <div class="field">
                        <%= form.label 'Descrizione del dipartimento' %>
                        <%= form.text_area :description, rows: 8 %>
                    </div>
                </td>
                <td>
                    <div class="field">
                        <%= form.label "Numero di piani" %>
                        <%= form.number_field :floors %>
                    </div>

                    <div class="field">
                        <%= form.label 'Numero di spazi' %>
                        <%= form.number_field :number_of_spaces %>
                    </div>

                    <div class="field">
                        <%= form.label "Ore minime prenotabili" %>
                        <%= form.number_field :slot %>
                    </div>
                </td>
            </tr>
        </body>
    </table>

    <!-- Tasto per l'aggiornamento --><br>
    <div class="actions">
        <%= form.submit value: 'Aggiorna' %>
    </div>

<% end %>

