<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Home - Spacebook </title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'departments', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<p id="notice"><%= notice %></p>

	<div class="grid-container-page">
		<div class="grid-item-descrizione">
			<p class="descrizione"> 
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</p>
		</div>
		<% if user_signed_in? %>
			<div class="grid-item-prenRapida">
				<label class="labelPR"> Prenotazione rapida </label>
				<p class="testo"> La tua prenotazione rapida è impostata su [ dipartimento - spazio ] </p>
				<button type="button" class="btnEffettuaPR"> <i class='bi bi-cursor'></i> prenota </button>
			</div>
		<% else %>
			<div class="grid-item-vuoto-r1c2">
			</div>
		<% end %>
		<div class="grid-item-ricerca">
			<!-- barra di ricerca per dipartimenti-->
			<form class="modulo-ricerca" action="" method="post">
				<input id="search" type="text" name="inputTesto" placeholder="Trova il tuo dipartimento" required>
				<input id="submit" type="submit" name="researchButton" value="CERCA">
			</form>
		</div>
		<div class="grid-item-vuoto-r2c2">
		</div>
		<div class="grid-container-dipartimenti">
			<!-- Lista di tutti i dipartimenti dell'applicazione -->
			<% @departments.each do |department| %>
				<div class="grid-item-dipartimenti">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title"> <%= department.name %> </h3>
							<h5 class="card-text"> <%= department.description %> </h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"> 
								<label class="label"> Indirizzo </label> 
								<br> 
								<p> <%= department.via %>, <%= department.civico %>, <%= department.cap %>, <%= department.citta %>, <%= department.provincia %> </p>
							</li>
							<li class="list-group-item"> 
								<label class="label"> Numero piani - spazi </label> 
								<br> 
								<p> <%= department.floors %> - <%= department.number_of_spaces %> </p>
							</li>
							<li class="list-group-item"> 
								<label class="label"> Orario </label> 
								<br> 
								<p> <%= department.ora_apertura %>:<%= department.min_apertura %> - <%= department.ora_chiusura %>:<%= department.min_chiusura %> </p>
							</li>
							<li class="list-group-item"> 
								<label class="label"> Email manager </label> 
								<br> 
								<p> <%= department.manager %> </p>
							</li>
							<% if user_signed_in? %>
								<li class="list-group-item">							
									<button type="button" class="btnEffettua" onclick="window.location.href='/make_reservation'"> <i class='bi bi-cursor'></i> prenota </button>
								</li>
							<% else %>
								<li class="list-group-item">
									<label class="label"> Per effettuare le prenotazioni <a href="/users/sign_in"> accedi </a> o <a href="/users/sign_up"> registrati </a> </label> 
								</li>
							<% end %>
						</ul>	
					</div>
				</div>
			<% end %>
		</div>
		<div class="grid-container-mappa">
			<!-- mappa per geolocalizzazione (destra) -->
			<div class="grid-item1-mappa">
				<label class="labelMappa"> MAPPA </label>
			</div>
			<div class="grid-item2-mappa">
				<img src="https://www.ninaedizionishop.it/87/mappa-europa.jpg">
			</div>
		</div>
	</div>
</body>
</html>