<p id="notice"><%= notice %></p>

<h1>Home</h1>

<h2>Dipartimenti:</h2>
<!-- Lista di tutti i dipartimenti dell'applicazione -->
<ul style="list-style-type:none">
  <% @departments.each do |department| %>
  <li>
    <table border = "1" style="text-align:center">
      <head>
        <tr style="background-color:lightgrey"><th colspan="2">||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</th></tr>
      </head>
      <body>
        <tr>
          <td><b>Nome</b><br><%= department.name %></td>
          <td><b>Email del manager</b><br><%= department.manager %></td>
        </tr>

        <tr>
          <td><b>Indirizzo</b><br><%= department.via %>, <%= department.civico %></td>
          <td><b>Cap Citta Provincia</b><br><%= department.cap %>, <%= department.citta %>, <%= department.provincia %></td>
        </tr>
        
        <tr>
          <td><b>Descrizione</b><br><%= department.description %></td>
          <td><b>Numero di piani</b><br><%= department.floors %></td>
        </tr>

        <tr>
          <td><b>Numero di spazi</b><br><%= department.number_of_spaces %></td>
          <td><b>grandezza degli slot prenotabili</b><br><%= department.slot %>h</td>
        </tr>

        <tr>
          <td><b>Apertura</b><br><%= department.ora_apertura %>:<%= department.min_apertura %></td>
          <td><b>Chiusura</b><br><%= department.ora_chiusura %>:<%= department.min_chiusura %></td>                  
        </tr>
        

        <% if user_signed_in? %>
          <tr style="background-color:lightgrey">
            <th colspan="2"><button onclick="window.location.href='/make_reservation'"><b>Effettua una prenotazione</b></button></th>
          </tr>
        <% else %>
          <tr>
            <th colspan="2">Per essettuare le prenotazioni
              <button onclick="window.location.href='/users/sign_in'">Accedi</button> o 
              <button onclick="window.location.href='/users/sign_up'">registrati</buùtton>.
            </th>
          </tr>
        <% end %>

      </body>
    </table>
  </li>
  <% end %>
</ul>

<br>