<!DOCTYPE html>
<html lang="it">
<head>
	<title> Il mio dipartimento - Spacebook </title>

	<script>
		$(document).ready(function() {
			$('#datatablesMioDipartimento').DataTable();
			$('#datatablesSpazi').DataTable();
			$('#datatablesPrenotazioni').DataTable();
		} );
	</script>

</head>

<body>
	<div class="row">
		<!-- Introduzione -->
		<div class="col">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-body">
					<h2 class="font-weight-light mt-3 mb-4"> Ecco il tuo dipartimento </h2>
					<p class="card-text">
						In questa pagina puoi gestirlo, modificare gli spazi, le piante caricate e sbirciare tutte le prenotazioni ihihih
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Card del dipartimento -->
		<div class="col-xl-5">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header"> 
					<table width="100%">
						<tr>
							<td width="76%">
								<h3 class="text-left font-weight-light my-4"> <%= (@department.first).name %> </h3>
							</td>
							<td width="12%">
								<%= button_to 'Elimina', @department.first, method: :delete, data: { confirm: 'Sicuro di voler rimuovere il dipartimento?' }, :class=>"btn btn-outline-info" %>
							</td>
							<td width="12%">
								<%= button_to 'Aggiorna', edit_department_path(@department.first), method: :get, :class=>"btn btn-outline-info" %>
							</td>
						</tr>
					</table>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item pt-0">	<!-- Descrizione -->
							<!-- Icona interattiva per visualizzare il collapse della descrizione -->
							<label class="label h5" data-bs-toggle="collapse" data-bs-target="#dep<%= (@department.first).id %>DescCollapse" aria-expanded="false" aria-controls="collapseExample"> Descrizione <i class="bi bi-card-text"></i> </label> 
							<!-- Collapse della descrizione -->
							<div class="collapse" id="dep<%= (@department.first).id %>DescCollapse">
								<%= (@department.first).description %>
							</div>
						</li>

						<li class="list-group-item"> 
							<table width="100%">
								<tr>
									<td width="55%" class="ms-0 ps-0">
										<ul class="list-group list-group-flush">
											<li class="list-group-item ms-0 ps-0">
												<label class="label h5"> Posizione </label><br>
												<%= (@department.first).via %>, <%= (@department.first).civico %>, <%= (@department.first).cap %>, <%= (@department.first).citta %>, <%= (@department.first).provincia %>
											</li>
											<li class="list-group-item ms-0 ps-0"> 
												<label class="label h5"> Numero piani </label><br>
												<%= (@department.first).floors %>
											</li>
											<li class="list-group-item ms-0 ps-0"> 
												<label class="label h5"> Numero spazi </label><br>
												<%= (@department.first).number_of_spaces %>
											</li>
										</ul>
									</td>
									<td width="45%" class="ps-3 pt-2">
										<!-- Orari -->
										<label class="label h5"> Orari <i class="bi bi-clock"></i> </label> 
										<!-- Raccoglie tutti gli orari del dipartimento -->
										<% @week_days.where(department_id: (@department.first).id).each do |wd| %>
											<div class="row">
												<div class="col-sm-5">
													<h6><%= wd.day %></h6>
												</div>
												<div class="col-sm-7">
													<% if wd.state == "Aperto" %>
														<%= wd.apertura.strftime('%H:%M') %>-<%= wd.chiusura.strftime('%H:%M') %>
													<% else %>
														<%= wd.state %>
													<% end %>
												</div>
											</div>
										<% end %>
									</td>
								</tr>
							</table>
						</li>
					</ul>	
				</div>
			</div>
		</div>
		<!-- Immagini delle piante -->
		<div class="col-xl-7">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header"> <h3 class="text-center font-weight-light my-4"> Piante caricate </h3></div>
				<div class="card-body">
					<div id="depFloorMapCarousel" class="carousel slide" data-bs-ride="carousel">
						<table width="100%" height="20%">
							<tr>
								<td>
									<button class="btn btn-outline-info bi bi-arrow-left" type="button" data-bs-target="#depFloorMapCarousel" data-bs-slide="prev"></button>
								</td>
								<td>
									<div class="carousel-inner">
										<% [0,1,2,3].each do |num| %>
											<div class="carousel-item <%= (num == 0)? 'active' : '' %>">
												<table>
													<tr class="text-center">
														<img class="card-img-top" style="width: 40%; height: 40%; object-fit: contain;" src="https://st.depositphotos.com/2290789/3667/i/600/depositphotos_36675429-stock-photo-king-lion-aslan.jpg" alt="..." />
													</tr>
													<tr>
														<div class="label text-center h6"> 
															<%= (num == 0)? "Piano terra" : "#{num}° Piano" %>
														</div>
													</tr>
												</table>
											</div>
										<% end %>
									</div>
								</td>
								<td>
									<button class="btn btn-outline-info  bi bi-arrow-right" type="button" data-bs-target="#depFloorMapCarousel" data-bs-slide="next"></button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- SPAZI DEL DIPARTIMENTO -->
		<div class="col-xl-6">
			<div class="card shadow-lg border-0 rounded-lg mt-0">
				<div class="card-body">
					<div class="card">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Spazi del dipartimento
						</div>
						<div class="card-body">
							<table id="datatablesSpazi" class="table table-responsive table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th> Tipologia </th>
										<th> Nome </th>
										<th> Descrizione </th>
										<th> Piano </th>
										<th> Numero di posti </th>
										<th> Disponibilità </th>
										<th> Opzioni </th>
									</tr>
								</thead>
								<tbody>
									<% @spaces.each do |space| %>
										<tr>
											<td> <%= space.typology %> </td>
											<td> <%= space.name %> </td>
											<td> <%= space.description %> </td>
											<td> <%= space.floor %> </td>
											<td> <%= space.number_of_seats %> </td>
											<td> <%= space.state %> </td>
											<th> 
												<% if space.state == 'Abilitato'%>
													<button class="btnLogout" >Disabilita</button>
												<% else %>
													<button class="btnLogout">Abilita</button>
												<% end %>
												<%= button_to 'Elimina', space, method: :delete, data: { confirm: 'Sicuro?' },  :class => "btnLogout" %>
											</th>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-body">
					<div class="card">
						<div class="card-header">
							<i class="fas fa-chart-area me-1"></i>
							Area Chart Example
						</div>
						<div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- PRENOTAZIONI DEL DIPARTIMENTO -->
	<div class="row">
		<div class="card shadow-lg border-0 rounded-lg mt-5">
			<div class="card-body">
				<div class="card">
					<div class="card-header">
						<i class="fas fa-chart-bar me-1"></i>
						Prenotazioni
					</div>
					<div class="card-body">
						<table id="datatablesPrenotazioni" class="table table-responsive table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th> Utente </th>
									<th> Dipartimento </th>
									<th> Tipologia </th>
									<th> Spazio </th>
									<th> Piano </th>
									<th> Posto </th>
									<th> Stato </th>
									<th> Opzioni </th>
								</tr>
							</thead>
							<tbody>
								<% @reservations.each do |reservation| %>
									<tr>
										<td><%= reservation.email %></td>
										<td><%= reservation.dep_name %></td>
										<td><%= reservation.typology %></td>
										<td><%= reservation.space_name %></td>
										<td><%= reservation.floor %></td>
										<td><%= reservation.seat_num %></td>
										<td><%= reservation.state %></td>
										<td><%= button_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btnDestroy" %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>