<!-- Mostra il dipartimento del manager e gli spazi relativi -->
<p id="notice"><%= notice %></p>

<table>
  <head>
    <table class = "table table-striped table-bordered">
      <head>
        <tr>
          <td colspan="18"><h2>Il tuo dipartimento</h2></td>
        </tr>
        <tr class="thead">
          <th colspan="2">Nome</th>
          <th colspan="2">Indirizzo</th>
          <th colspan="2">Descrizione</th>
          <th colspan="2">Numero di piani</th>
          <th colspan="2">Numero di spazi</th>
          <th colspan="2">Slot prenotabili</th>
          <th colspan="2">Apertura</th>
          <th colspan="2">Chiusura</th>
          <th colspan="2">Opzioni</th>
        </tr>
      </head>
      <body>
        <tr>
          <td colspan="2"><%= (@department.first).name %></td>
          <td colspan="2"><%= (@department.first).via+','+(@department.first).civico+','+(@department.first).cap+','+(@department.first).citta+','+(@department.first).provincia %></td>
          <td colspan="2"><%= (@department.first).description %></td>
          <td colspan="2"><%= (@department.first).floors %></td>
          <td colspan="2"><%= (@department.first).number_of_spaces %></td>
          <td colspan="2"><%= (@department.first).slot %>h</td>
          <td colspan="2"><%= (@department.first).ora_apertura %>:<%= (@department.first).min_apertura %></td>
          <td colspan="2"><%= (@department.first).ora_chiusura %>:<%= (@department.first).min_chiusura %></td>
          <th colspan="2">
            <%= button_to 'Prenota', '/make_reservation', method: :get ,  :class => "btnLogout" %>
            <%= button_to 'Aggiorna', edit_department_path(@department.first), method: :get ,  :class => "btnLogout" %>
            <%= button_to 'Elimina', @department.first, method: :delete, data: { confirm: 'Sicuro?' } ,  :class => "btnLogout" %>
          </tr>
        </tr>
      </body>
  </head>
  <body>
    <table class = "table table-striped table-bordered">
      <head>
        <tr><td colspan="18" style="text-align:center"><h2>Spazi del dipartimento</h2></td></tr>
        <tr class="thead">
          <th colspan="3">Tipologia</th>
          <th colspan="3">Nome</th>
          <th colspan="3">Piano</th>
          <th colspan="3">Numero di posti</th>
          <th colspan="3">Disponibilità</th>
          <th colspan="3">Opzioni</th>
        </tr>
      </head>
      <body>
        <% @spaces.each do |space| %>
          <tr>
            <td colspan="3"><%= space.typology %></td>
            <td colspan="3"><%= space.name %></td>
            <td colspan="3"><%= space.floor %></td>
            <td colspan="3"><%= space.number_of_seats %></td>
            <td colspan="3"><%= space.state %></td>
            <th colspan="3">
              <% if space.state == 'Abilitato'%>
                <button class="btnLogout" >Disabilita</button>
              <% else %>
                <button class="btnLogout">Abilita</button>
              <% end %>
              <%= button_to 'Elimina', space, method: :delete, data: { confirm: 'Sicuro?' },  :class => "btnLogout" %>
            </th>
          </tr>
        <% end %>
      </body>
    </table>
  </body>
</table>