<!DOCTYPE html>
<html lang="it">
<head>

	<title> Il mio dipartimento - Spacebook </title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css">

    <script>
        $(document).ready(function () {
            $('#datatableSpazi').DataTable({
                dom: '<"row"<"col"l>><"row"<"col"<"dropdown-divider mb-0">>><"row"<"col"t>><"row mt-1"<"col"p>><"row"<"col"<"dropdown-divider">>>',
                scrollX: true,
                filter: 'false',
                pagingType: "simple_numbers",
                pageLength: 10,
                language: {
                    lengthMenu: '<label><h6> Mostra </h6></label> _MENU_ <label><h6> spazi contemporaneamente </h6></label>',
                    zeroRecords: 'Nessuno spazio creato',
                    paginate: {
                        first:    '<i class="bi bi-caret-left-fill"></i>',
                        previous: '<i class="bi bi-arrow-left-circle"></i>',
                        next:     '<i class="bi bi-arrow-right-circle"></i>',
                        last:     '<i class="bi bi-caret-right-fill"></i>'
                    }
                }
            });
		});
	</script>
	<script>
        $(document).ready(function () {
            $('#datatablePrenotazioni').DataTable({
                dom: '<"row"<"col"l>><"row"<"col"<"dropdown-divider mb-0">>><"row"<"col"t>><"row mt-1"<"col"p>><"row"<"col"<"dropdown-divider">>>',
                scrollX: true,
                filter: 'false',
                pagingType: "simple_numbers",
                pageLength: 10,
                language: {
                    lengthMenu: '<label><h6> Mostra </h6></label> _MENU_ <label><h6> prenotazioni contemporaneamente </h6></label>',
                    zeroRecords: 'Nessuna prenotazione',
                    paginate: {
                        first:    '<i class="bi bi-caret-left-fill"></i>',
                        previous: '<i class="bi bi-arrow-left-circle"></i>',
                        next:     '<i class="bi bi-arrow-right-circle"></i>',
                        last:     '<i class="bi bi-caret-right-fill"></i>'
                    }
                }
            });
        });
    </script>

</head>

<body>
	<div class="row">
		<!-- Introduzione -->
		<div class="col">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-body">
					<h2 class="font-weight-light mt-3 mb-4"> Ecco il tuo dipartimento </h2>
					<p class="card-text">
						In questa pagina puoi gestirlo, modificare gli spazi, le piante caricate e sbirciare tutte le prenotazioni ihihih
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<!-- Card del dipartimento -->
		<div class="col-xl-7">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-header"> 
					<table width="100%">
						<tr>
							<td width="76%">
								<h3 class="font-weight-light my-3"> <%= (@department.first).name %> </h3>
							</td>
							<td width="12%">
								<!-- Tasto per l'update -->
								<button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#tempSpID<%= @department.first.id %>"> Aggiorna </button>
								<%= render 'modal_dep_edit', mydep: @department.first %>
							</td>
							<td width="12%">
								<!-- Tasto per l'eliminazione -->
								<%= button_to 'Elimina', @department.first, method: :delete, data: { confirm: 'Sicuro di voler rimuovere il dipartimento?' }, :class=>"btn btn-outline-info" %>
							</td>
						</tr>
					</table>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<!-- Descrizione -->
						<li class="list-group-item pt-0">
							<!-- Icona interattiva per visualizzare il collapse della descrizione -->
							<label class="label h5" data-bs-toggle="collapse" data-bs-target="#dep<%= (@department.first).id %>DescCollapse" aria-expanded="false" aria-controls="collapseExample"> Descrizione <i class="bi bi-card-text"></i> </label> 
							<!-- Collapse della descrizione -->
							<div class="collapse" id="dep<%= (@department.first).id %>DescCollapse">
								<%= (@department.first).description %>
							</div>
						</li>
						
						<!-- Dati + orari -->
						<li class="list-group-item"> 
							<table width="100%">
								<tr>
									<td width="55%" class="ms-0 ps-0"> <!-- Dati -->
										<ul class="list-group list-group-flush">
											<li class="list-group-item ms-0 ps-0">
												<label class="label h5"> Posizione </label><br>
												<%= (@department.first).via %>, <%= (@department.first).civico %>, <%= (@department.first).cap %>, <%= (@department.first).citta %>, <%= (@department.first).provincia %>
											</li>
											<li class="list-group-item ms-0 ps-0"> 
												<label class="label h5"> Numero piani </label><br>
												<%= (@department.first).floors %>
											</li>
											<li class="list-group-item ms-0 ps-0"> 
												<label class="label h5"> Numero spazi </label><br>
												<%= (@department.first).number_of_spaces %>
											</li>
										</ul>
									</td>
									<td width="45%" class="px-3 pt-2"> <!-- Orari -->
										<label class="label h5"> Orari <i class="bi bi-clock"></i> </label> 
										<!-- Raccoglie tutti gli orari del dipartimento -->
										<% @week_days.where(department_id: (@department.first).id).each do |wd| %>
											<div class="row">
												<div class="col-sm-5">
													<h6><%= wd.day %></h6>
												</div>
												<div class="col-sm-7">
													<% if wd.state == "Aperto" %>
														<%= wd.apertura.strftime('%H:%M') %>-<%= wd.chiusura.strftime('%H:%M') %>
													<% else %>
														<%= wd.state %>
													<% end %>
												</div>
											</div>
										<% end %>
									</td>
								</tr>
							</table>
						</li>
					</ul>	
				</div>
			</div>
		</div>
		<!-- Carousel piante -->
		<div class="col-xl-5">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-header text-center">
					<h3 class="font-weight-light my-3"> Piante dei piani </h3>
				</div>
				<div class="card-body">
					<div id="depFloorMapCarousel" class="carousel slide" data-bs-ride="carousel">
						<table width="100%">
							<tr>
								<td> <!-- Precedente -->
									<button class="btn btn-outline-info bi bi-caret-left-fill" data-bs-target="#depFloorMapCarousel" data-bs-slide="prev"></button>
								</td>
								<td> <!-- Immagine del piano -->
									<div class="carousel-inner">
										<% [0,1,2].each do |num| %>
											<div class="carousel-item <%= (num == 0)? 'active' : '' %>">
												<table width="100%">
													<!-- Pianta del piano -->
													<tr>
														<td style="text-align:center">
															<img class="card-img" id="depFloorMapCarouselImgTop" src="<%= (num == 1)? "https://i1.wp.com/fotografiaartistica.it/wp-content/uploads/2019/06/nasa-immagini-gratuite-dello-spazio.jpg?fit=1041%2C664&ssl=1" : (num == 2)? "https://cdna.artstation.com/p/assets/images/images/034/757/492/large/jorge-hardt-02112021-minimalist-japanese-mobile-hd.jpg?1613135473" : "https://st.depositphotos.com/2290789/3667/i/600/depositphotos_36675429-stock-photo-king-lion-aslan.jpg" %>" alt="..." />
														</td>
													</tr>
													<!-- Piano -->
													<tr>
														<td>
															<div class="label text-center h5">
																<hr class="dropdown-divider" />
																<%= (num == 0)? "Piano terra" : "#{num}° Piano" %>
															</div>
														</td>
													</tr>
												</table>
											</div>
										<% end %>
									</div>
								</td>
								<td> <!-- Successiva -->
									<button class="btn btn-outline-info bi bi-caret-right-fill" data-bs-target="#depFloorMapCarousel" data-bs-slide="next"></button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<!-- SPAZI DEL DIPARTIMENTO -->
		<div class="col-xl-7">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-header text-center">
					<h3 class="font-weight-light my-3"> Spazi del dipartimento </h3>
				</div>
				<div class="card-body">
					<table id="datatableSpazi" class="display table-responsive table-striped table-hover" width="100%"> 
						<thead>
							<tr class="h6">
								<th width="14%">Tipologia</th>
								<th width="14%">Nome</th>
								<th width="14%">Piano</th>
								<th width="14%">Posti</th>
								<th width="14%">Descrizione</th>
								<th width="14%">Rimuovi</th>
							</tr>
						</thead>
						<tbody>
							<% @spaces.each do |space| %>
								<tr>
									<td><%= space.typology %></td>
									<td><%= space.name %></td>
									<td style="text-align:center"><%= space.floor %></td>
									<td style="text-align:center"><%= space.number_of_seats %></td>
									<td>
										<!-- Icona interattiva per la descrizione -->
										<button style="width:100%" class="btn btn-sm btn-outline-info bi bi-card-text" data-bs-toggle="modal" data-bs-target="#depID<%= space.id %>"></button>
										<!-- Modal della descrizione -->
										<%= render 'modal_sp_desc', space: space %>
									</td>
									<td>
										<!-- Tasto per la rimozioe dello spazio inserito -->
										<%= link_to '', space, method: :delete, data: { confirm: 'Sicuro?' }, :class => "btn btn-sm btn-outline-info bi bi-trash", :style=>"width:100%"%>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Grafici -->
		<div class="col-xl-5">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-header text-center">
					<h3 class="font-weight-light my-3"> Area Chart Example </h3>
				</div>
				<div class="card-body">
					<canvas id="myAreaChart" width="100%" height="40"></canvas>
				</div>
			</div>
		</div>
	</div>
	
	<!-- PRENOTAZIONI DEL DIPARTIMENTO -->
	<div class="row mt-4">
		<div class="col">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-header text-center">
					<h3 class="font-weight-light my-3"> Prenotazioni </h3>
				</div>
				<div class="card-body">
					<table id="datatablePrenotazioni" class="display table-responsive table-striped table-hover" width="100%">
						<thead>
							<tr>
								<th> Utente </th>
								<th> Dipartimento </th>
								<th> Tipologia </th>
								<th> Spazio </th>
								<th> Piano </th>
								<th> Posto </th>
								<th> Stato </th>
								<th> Opzioni </th>
							</tr>
						</thead>
						<tbody>
							<% @reservations.each do |reservation| %>
								<tr>
									<td><%= reservation.email %></td>
									<td><%= reservation.dep_name %></td>
									<td><%= reservation.typology %></td>
									<td><%= reservation.space_name %></td>
									<td><%= reservation.floor %></td>
									<td><%= reservation.seat_num %></td>
									<td><%= reservation.state %></td>
									<td><%= button_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btnDestroy" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>