<!-- Pagina per la creazione del dipartimento e dei relativi spazi da parte del manager che vi accede (solo un manager può accedervi) -->
<br/>
<br/>


<table class = "table table-striped table-bordered">
  <% if (Department.where(manager: current_user.email).count == 0)%>
    <head> <!-- Mostra il form di registrazione del dipartimento -->
      <tr>
        <td colspan="2">
          <%= form_with(model: @department) do |form| %>
            <% if @department.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
              <div id="error_explanation">
                <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

                <ul>
                  <% @department.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <!-- Campo inserito automaticamente -->
            <div class="label", style='display:none'>
              <%= form.label 'manager id' %>
            </div>
            <div class="field">
              <%= form.number_field :user_id, required: true, value:current_user.id, readonly: true, size: 20, :class=>"campoT" %>
            </div>


    

            <!-- Campi inseriti dal manager -->
            <table class = "table table-striped table-bordered">
              <head>
                <tr><td colspan="4" style="text-align:center"><h1>Registra il tuo dipartimento</h1></td></tr>
              </head>
              <body>
                <tr>
                  <td>
                    <div class="label">
                      <%= form.label 'Nome del dipartimento' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :name, :class=>"campoT"%>
                    </div>
                  </td>
                  <td>
                    <div class="label">
                      <%= form.label 'E-mail del manager' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :manager, required: true, value:current_user.email, readonly: true, size: 20 , :class=>"campoT"%>
                    </div>
                  </td>
                  <td>
                    <div class="label">
                      <%= form.label 'Via, Viale, Piazza...' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :via , :class=>"campoT"%>
                    </div>

                    <div class="label">
                      <%= form.label 'n. civico' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :civico , :class=>"campoT"%>
                    </div>
                  </td>
                  <td>
                    <div class="label">
                      <%= form.label 'Cap' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :cap , :class=>"campoT"%>
                    </div>

                    <div class="label">
                      <%= form.label 'Città' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :citta, :class=>"campoT" %>
                    </div>

                    <div class="label">
                      <%= form.label 'Provincia' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :provincia, :class=>"campoT" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="label">
                      <%= form.label 'Descrizione del dipartimento' %>
                    </div>
                    <div class="field"> 
                      <%= form.text_area :description, rows: 8, :class=>"campoT" %>
                    </div>
                  </td>
                  <td>
                    <div class="label">
                      <%= form.label "Numero di piani" %>
                    </div>
                    <div class="field">
                      <%= form.number_field :floors , :class=>"campoT"%>
                    </div>

                    <div class="label">
                      <%= form.label 'Numero di spazi' %>
                    </div>
                    <div class="field">
                      <%= form.number_field :number_of_spaces , :class=>"campoT"%>
                    </div>

                    <div class="label">
                      <%= form.label "Ore minime prenotabili" %>
                      </div>
                      <div class="field"> 
                      <%= form.number_field :slot , :class=>"campoT"%>
                    </div>
                  </td>
                  <td>
                    <div class="label">
                      <%= form.label 'Apertura:' %>
                      <%= form.label 'ora' %>
                      </div>
                      <div class="field"> 
                      <%= form.number_field :ora_apertura, :class=>"campoT" %>
                      </div>
                      <br/>
                      <div class="label">
                      <%= form.label 'minuti' %>
                      </div>
                      <div class="field"> 
                      <%= form.number_field :min_apertura, :class=>"campoT" %>
                    </div>
                  </td>
                  <td>
                    <div class="label">
                      <%= form.label 'Chiusura:' %>
                      <%= form.label 'ora' %>
                      </div>
                      <div class="field"> 
                      <%= form.number_field :ora_chiusura, :class=>"campoT" %>
                      </div>
                      <br/>
                      <div class="label">
                      <%= form.label 'minuti' %>
                      </div>
                      <div class="field"> 
                      <%= form.number_field :min_chiusura, :class=>"campoT" %>
                    </div>
                  </td>
                </tr>
              </body>
            </table>


            <br/>
            <br/>
            <!-- Tasto per la creazione --><br>
            <div class="actions">
              <%= form.submit class:"btn btn-signup", class:"btn btn-signup", value: 'Continua'%>
            </div>

          <% end %>
        </td>
      </tr>
    </head>
  <% else %>
    <head> <!-- Mostra il dipartimento appena creato -->
        <tr>
          <td colspan="2">
            <table class = "table table-striped table-bordered">
              <head>
                <tr>
                  <td colspan="9"><h2>Il tuo dipartimento</h2></td>
                </tr>
                <tr class="thead">
                  <th>Nome</th>
                  <th>Indirizzo</th>
                  <th>Descrizione</th>
                  <th>Numero di piani</th>
                  <th>Numero di spazi</th>
                  <th>Slot prenotabili</th>
                  <th>Apertura</th>
                  <th>Chiusura</th>
                  <th>Elimina</th>
                </tr>
              </head>
              <body>
                <% mydep = (Department.where(user_id: current_user.id)).first %>
                <tr>
                  <td><%= mydep.name %></td>
                  <td><%= mydep.via+','+mydep.civico+','+mydep.cap+','+mydep.citta+','+mydep.provincia %></td>
                  <td><%= mydep.description %></td>
                  <td><%= mydep.floors %></td>
                  <td><%= mydep.number_of_spaces %></td>
                  <td><%= mydep.slot %></td>
                  <td><%= mydep.ora_apertura %>:<%= mydep.min_apertura %></td>
                  <td><%= mydep.ora_chiusura %>:<%= mydep.min_chiusura %></td>
                  <th><%= button_to 'X', mydep, method: :delete, data: { confirm: 'Sicuro?' } %></th>
                </tr>
              </body>
            </table>
          </td>
        </tr>
    </head>
    <br/>
    <br/>
    <br/>
    <body> <!-- Mostra form di inserimento degli spazi e gli spazi gia inseriti -->
      <tr>
        <td> <!-- Form di inserimento degli spazi -->
          <%= form_with(model: @space) do |form| %>
            <% if @space.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
              <div id="error_explanation">
                <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

                <ul>
                  <% @space.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <br/>
            <br/>

            <!-- Campo inserito automaticamente -->
            <div class="label", style='display:none'>
              <%= form.label 'department_id' %>
            </div>
            <div class="field">
              <%= form.number_field :department_id, required: true, value: (Department.where(user_id: current_user.id)).first.id, readonly: true, :class=>"campoT" %>
            </div>

  
            <!-- Campo inserito automaticamente -->
            <div class="label", style='display:none'>
              <%= form.label 'Nome del dipartimento' %>
            </div>
            <div class="field">
              <%= form.text_field :dep_name, required: true, value: (Department.where(user_id: current_user.id)).first.name, readonly: true, :class=>"campoT"  %>
            </div>

            <!-- Campi inseriti dal manager -->
            <table class = "table table-striped table-bordered">
              <head>
                <tr><td colspan="2" style="text-align:center" width="50%"><h1>Registra gli spazi del tuo dipartimento</h1></td></tr>
              </head>
              <body>
                <tr>
                  <td>
                    <div class="label">
                      <%= form.label 'Tipologia dello spazio' %>
                    </div>
                    <div class="field">
                      <%= form.select :typology, options_for_select([["Isola"], ["Aula"], ["Laboratiorio"], ["Biblioteca"]]), required: true, :class=>"campoT"%>
                    </div>

                    <div class="label">
                      <%= form.label 'Nome dello spazio' %>
                      <%= form.label '(univoco per ogni tipologia)' %>
                    </div>
                    <div class="field">
                      <%= form.text_field :name, :class=>"campoT" %>
                    </div>

                  </td>
                  <td>

                    <div class="label">
                      <%= form.label 'Piano al quale si trova' %>
                    </div>
                    <div class="field">
                      <%= form.number_field :floor, :class=>"campoT"%>
                    </div>

                    <div class="label">
                      <%= form.label 'numero di posti prenotabili' %>
                    </div>
                    <div class="field">
                      <%= form.number_field :number_of_seats, :class=>"campoT"%>
                    </div>

                  </td>
                </tr>              
              </body>
            </table>

            <br/>
            <br/>

            <!-- Campo inserito automaticamente -->
            <div class="role">
              <%= form.label 'Disponibilità' %>
            
              <%= form.text_field :state, value: "Abilitato", required: true%>
            </div>

            <!-- Tasto per la creazione --><br>
            <div class="actions">
              <%= form.submit class:"btn btn-signup", value: 'Inserisci spazio'%>
            </div>

          <% end %>
        </td>
        
        <td width="50%"> <!-- Mostra gli spazi creati fino ad ora e permette di eliminarli -->
        <br/>
        <br/>

          <table class = "table table-striped table-bordered"> 
            <head>
              <tr><td colspan="6" style="text-align:center"><h2>Spazi creati</h2></td></tr>
              <tr class="thead">
                <th>Tipologia</th>
                <th>Nome</th>
                <th>Piano</th>
                <th>Numero di posti</th>
                <th>Disponibilità</th>
                <th>Elimina</th>
              </tr>
            </head>
            <body>
              <% (Space.where(department_id: (Department.where(user_id: current_user.id)).first.id)).each do |jcs| %>
                <tr>
                  <td><%= jcs.typology %></td>
                  <td><%= jcs.name %></td>
                  <td><%= jcs.floor %></td>
                  <td><%= jcs.number_of_seats %></td>
                  <td><%= jcs.state %></td>
                  <th><%= button_to 'X', jcs, method: :delete, data: { confirm: 'Sicuro?' } ,  :class => "btnLogout"%></th>
                </tr>
              <% end %>
            </body>
          </table>
        </td>
      </tr>
    </body>
  <% end %>
</table>

<br/>
<br/>
<br/>

<div class="actions">
<button class="btn btn-signup">Conferma la registrazione del dipartimento e dei relativi spazi</button>
</div>
<br>
<br>
<br>
<br>
<br>

<!-- Form per la creazione dei posti. Successivamente da automatizzare alla pressione del bottone sopra indicato -->
<%= form_with(model: @seat) do |form| %>
  <% if @seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
        <% @seat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label">
    <%= form.label :space_id %>
    </div>
    <div class="field">
    <%= form.number_field :space_id , :class=>"campoT"%>
  </div>

  <div class="label">
    <%= form.label :dep_name %>
    </div>
    <div class="field">
    <%= form.text_field :dep_name, :class=>"campoT" %>
  </div>

  <div class="label">
    <%= form.label :typology %>
    </div>
    <div class="field">
    <%= form.text_field :typology, :class=>"campoT" %>
  </div>

  <div class="label">
    <%= form.label :space_name %>
    </div>
    <div class="field">
    <%= form.text_field :space_name , :class=>"campoT"%>
  </div>

  <div class="label">
    <%= form.label :position %>
    </div>
    <div class="field">
    <%= form.number_field :position , :class=>"campoT"%>
  </div>

  <div class="label">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="label">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <br/>
  <br/>
  <div class="role">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-signup" %>
  </div>
<% end %>



<br>