<!-- Pagina per la creazione del dipartimento e dei relativi spazi da parte del manager che vi accede (solo un manager può accedervi) -->

<table border = "1">
  <% if (Department.where(manager: current_user.email).count == 0)%>
    <head> <!-- Mostra il form di registrazione del dipartimento -->
      <tr>
        <td colspan="2">
          <%= form_with(model: @department) do |form| %>
            <% if @department.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
              <div id="error_explanation">
                <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

                <ul>
                  <% @department.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <!-- Campo inserito automaticamente -->
            <div class="field", style='display:none'>
              <%= form.label 'manager id' %>
              <%= form.number_field :user_id, required: true, value:current_user.id, readonly: true, size: 20%>
            </div>

            <!-- Campi inseriti dal manager -->
            <table border = "1">
              <head>
                <tr><td colspan="4" style="text-align:center"><h1>Registra il tuo dipartimento</h1></td></tr>
              </head>
              <body>
                <tr>
                  <td>
                    <div class="field">
                      <%= form.label 'Nome del dipartimento' %>
                      <%= form.text_field :name %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= form.label 'E-mail del manager' %>
                      <%= form.text_field :manager, required: true, value:current_user.email, readonly: true, size: 20 %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= form.label 'Via, Viale, Piazza...' %>
                      <%= form.text_field :via %>
                    </div>

                    <div class="field">
                      <%= form.label 'n. civico' %>
                      <%= form.text_field :civico %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= form.label 'Cap' %>
                      <%= form.text_field :cap %>
                    </div>

                    <div class="field">
                      <%= form.label 'Città' %>
                      <%= form.text_field :citta %>
                    </div>

                    <div class="field">
                      <%= form.label 'Provincia' %>
                      <%= form.text_field :provincia %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="field">
                      <%= form.label 'Descrizione del dipartimento' %>
                      <%= form.text_area :description, rows: 8 %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= form.label "Numero di piani" %>
                      <%= form.number_field :floors %>
                    </div>

                    <div class="field">
                      <%= form.label 'Numero di spazi' %>
                      <%= form.number_field :number_of_spaces %>
                    </div>

                    <div class="field">
                      <%= form.label "Ore minime prenotabili" %>
                      <%= form.number_field :slot %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= form.label 'Apertura:' %>
                      <%= form.label 'ora' %>
                      <%= form.number_field :ora_apertura %>
                      <%= form.label 'minuti' %>
                      <%= form.number_field :min_apertura %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= form.label 'Chiusura:' %>
                      <%= form.label 'ora' %>
                      <%= form.number_field :ora_chiusura %>
                      <%= form.label 'minuti' %>
                      <%= form.number_field :min_chiusura %>
                    </div>
                  </td>
                </tr>
              </body>
            </table>

            <!-- Tasto per la creazione --><br>
            <div class="actions">
              <%= form.submit %>
            </div>

          <% end %>
        </td>
      </tr>
    </head>
  <% else %>
    <head> <!-- Mostra il dipartimento appena creato -->
        <tr>
          <td colspan="2">
            <table border = "1">
              <head>
                <tr>
                  <td colspan="9" style="text-align:center"><h2>Il tuo dipartimento</h2></td>
                </tr>
                <tr>
                  <th>Nome</th>
                  <th>Indirizzo</th>
                  <th>Descrizione</th>
                  <th>Numero di piani</th>
                  <th>Numero di spazi</th>
                  <th>Slot prenotabili</th>
                  <th>Apertura</th>
                  <th>Chiusura</th>
                  <th>Elimina</th>
                </tr>
              </head>
              <body>
                <% mydep = (Department.where(user_id: current_user.id)).first %>
                <tr>
                  <td><%= mydep.name %></td>
                  <td><%= mydep.via+','+mydep.civico+','+mydep.cap+','+mydep.citta+','+mydep.provincia %></td>
                  <td><%= mydep.description %></td>
                  <td><%= mydep.floors %></td>
                  <td><%= mydep.number_of_spaces %></td>
                  <td><%= mydep.slot %></td>
                  <td><%= mydep.ora_apertura %>:<%= mydep.min_apertura %></td>
                  <td><%= mydep.ora_chiusura %>:<%= mydep.min_chiusura %></td>
                  <th><%= button_to 'X', mydep, method: :delete, data: { confirm: 'Sicuro?' } %></th>
                </tr>
              </body>
            </table>
          </td>
        </tr>
    </head>
    <body> <!-- Mostra form di inserimento degli spazi e gli spazi gia inseriti -->
      <tr>
        <td>
          <%= form_with(model: @space) do |form| %>
            <% if @space.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
              <div id="error_explanation">
                <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

                <ul>
                  <% @space.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <!-- Campo inserito automaticamente -->
            <div class="field", style='display:none'>
              <%= form.label 'department_id' %>
              <%= form.number_field :department_id, required: true, value: (Department.where(user_id: current_user.id)).first.id, readonly: true %>
            </div>

            <!-- Campo inserito automaticamente -->
            <div class="field", style='display:none'>
              <%= form.label 'Nome del dipartimento' %>
              <%= form.text_field :dep_name, required: true, value: (Department.where(user_id: current_user.id)).first.name, readonly: true  %>
            </div>

            <!-- Campi inseriti dal manager -->
            <table>
              <head>
                <tr><td colspan="2" style="text-align:center"><h1>Registra gli spazi del tuo dipartimento</h1></td></tr>
              </head>
              <body>
                <tr>
                  <td>
                    <div class="field">
                      <%= form.label 'Tipologia dello spazio' %>
                      <%= form.select :typology, options_for_select([["Isola"], ["Aula"], ["Laboratiorio"], ["Biblioteca"]]), required: true%>
                    </div>

                    <div class="field">
                      <%= form.label 'Nome dello spazio' %>
                      <%= form.label '(univoco per ogni tipologia)' %>
                      <%= form.text_field :name %>
                    </div>

                  </td>
                  <td>

                    <div class="field">
                      <%= form.label 'Piano al quale si trova' %>
                      <%= form.number_field :floor %>
                    </div>

                    <div class="field">
                      <%= form.label 'numero di posti prenotabili' %>
                      <%= form.number_field :number_of_seats %>
                    </div>

                  </td>
                </tr>              
              </body>
            </table>

            <!-- Campo inserito automaticamente -->
            <div class="field", style='display:none'>
              <%= form.label 'Disponibilità' %>
              <%= form.text_field :state, value: "Abilitato", required: true %>
            </div>

            <!-- Tasto per la creazione --><br>
            <div class="actions">
              <%= form.submit %>
            </div>

          <% end %>
        </td>
        <td>
          <table border = "1"> <!-- Mostra gli spazi creati fino ad ora e permette di eliminarli -->
            <head>
              <tr><td colspan="6" style="text-align:center"><h2>Spazi creati</h2></td></tr>
              <tr>
                <th>Tipologia</th>
                <th>Nome</th>
                <th>Piano</th>
                <th>Numero di posti</th>
                <th>Disponibilità</th>
                <th>Elimina</th>
              </tr>
            </head>
            <body>
              <% (Space.where(department_id: (Department.where(user_id: current_user.id)).first.id)).each do |jcs| %>
                <tr>
                  <td><%= jcs.typology %></td>
                  <td><%= jcs.name %></td>
                  <td><%= jcs.floor %></td>
                  <td><%= jcs.number_of_seats %></td>
                  <td><%= jcs.state %></td>
                  <th><%= button_to 'X', jcs, method: :delete, data: { confirm: 'Sicuro?' } %></th>
                </tr>
              <% end %>
            </body>
          </table>
        </td>
      </tr>
    </body>
  <% end %>
</table>

<br>

<button>Conferma la registrazione del dipartimento e dei relativi spazi</button>

<br>
<br>
<br>
<br>
<br>

<!-- Form per la creazione dei posti. Successivamente da automatizzare alla pressione del bottone sopra indicato -->
<%= form_with(model: @seat) do |form| %>
  <% if @seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
        <% @seat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :space_id %>
    <%= form.number_field :space_id %>
  </div>

  <div class="field">
    <%= form.label :dep_name %>
    <%= form.text_field :dep_name %>
  </div>

  <div class="field">
    <%= form.label :typology %>
    <%= form.text_field :typology %>
  </div>

  <div class="field">
    <%= form.label :space_name %>
    <%= form.text_field :space_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>