<!-- Pagina Home -->
<!DOCTYPE html>
<html lang="it">
<head>

	<title> Home - Spacebook </title>
	<%= javascript_pack_tag 'leaflet' %>
	<%= stylesheet_link_tag 'leaflet',media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="row">
		<!-- Zona centrale del sito -->
		<div class="col-xl-8">
			<!-- Descrizione del sito e barra di ricerca -->
			<div class="row">
				
				<!-- Introduzione -->
				<div class="card shadow-lg border-0 rounded-lg">
					<div class="card-body">
						<h2 class="font-weight-light mt-3 mb-4"> Benvenuto </h2>
						<p class="card-text">
							Speriamo ti troverai bene nel nostro sito, siamo super fighi e strabravi perciò vedi di non rompere e non fare danni!
							Registrati e prenota tutti gli spazi che vuoi in pochi e semplici passi (se non ci riesci hai dei problemi)
							<br>
							<% if !user_signed_in? %>
								Per effettuare una prenotazione <%= link_to "accedi", "/users/sign_in" %> o <%= link_to "registrati", "/users/sign_up" %>
							<% end %>
						</p>
					</div>
				</div>

				<!-- Barra di ricerca per dipartimenti -->
				<div class="col-xl-6">
					<form class="d-none d-md-inline-block form-inline mt-3 mb-1">
						<div class="input-group">
							<table width="100%" class="rounded btn-outline-info">
								<tr>
									<td width="90%"><input type="text" class="form-control btn-outline-info" placeholder="Trova un dipartimento..." id="depSearchHome"/></td>
									<td width="10%"><button class="btn btn-info bi bi-search" id="btnNavbarSearch" type="button"></button></td>
								</tr>
							</table>
						</div>
					</form>
				</div>
			</div>
			
			<!-- Lista di tutti i dipartimenti dell'applicazione -->
			<div class="row mb-5">
				<% @departments.each do |department| %>
					<div class="col-sm-6">
						<!-- Card che mostra il dipartimento corrente -->
						<div class="card shadow-lg border-0 rounded-lg mt-3 mb-2">
							<div class="card-header">
								<table width="100%">
									<tr>
										<td width="88%">
											<h3 class="font-weight-light mt-4 mb-2"> <%= department.name %> </h3>
											<div class="small text-muted"> <%= department.via %>, <%= department.civico %>, <%= department.cap %>, <%= department.citta %>, <%= department.provincia %> </div>
										</td>
										<td width="12%" class="text-center">
											<% if user_signed_in? %>
												<button class="btn btn-outline-info" onclick="window.location.href='/make_reservation'"> <i class='bi bi-cursor'></i><br> prenota </button>
											<% else %>
												<% @coord = get_coord(department.via+" "+department.civico+" "+department.citta+" "+department.cap)%>
												<button class="btn btn-outline-secondary disabled"> <i class='bi bi-cursor'></i><br> prenota </button>
												<button onclick='centra_mappa("<%= department.via.concat(" ",department.civico," ,",department.cap," ,",department.citta," ,",department.provincia) %>","<%= @coord[0] %>","<%= @coord[1] %>")'>Click me</button>
											<% end %>
										</td>
									</tr>
								</table>
							</div>
							<div class="card-body">
								<ul class="list-group list-group-flush">
									<!-- Descrizione -->
									<li class="list-group-item pt-0">
										<!-- Icona interattiva per visualizzare il collapse della descrizione -->
										<label class="label h5" data-bs-toggle="collapse" data-bs-target="#dep<%= department.id %>DescCollapse" aria-expanded="false" aria-controls="collapseExample"> Descrizione <i class="bi bi-card-text"></i> </label> 
										<!-- Collapse della descrizione -->
										<div class="collapse" id="dep<%= department.id %>DescCollapse">
											<%= department.description %>
										</div>
									</li>

									<!-- Orari -->
									<li class="list-group-item pt-3">
										<!-- Icona interattiva per visualizzare il collapse degli orari -->
										<label class="label h5" data-bs-toggle="collapse" data-bs-target="#dep<%= department.id %>OrariCollapse" aria-expanded="false" aria-controls="collapseExample"> Orari <i class="bi bi-clock"></i> </label> 
										<!-- Collapse degli orari -->
										<div class="collapse" id="dep<%= department.id %>OrariCollapse">
											<!-- Raccoglie tutti gli orari del dipartimento e li inserisce nel dropdown -->
											<% @week_days.where(department_id: department.id).each do |wd| %>
												<div class="row">
													<div class="col-sm-3">
														<h6><%= wd.day %></h6>
													</div>
													<div class="col-sm-9">
														<%= wd.apertura.strftime('%H:%M') %>-<%= wd.chiusura.strftime('%H:%M') %>
													</div>
												</div>
											<% end %>
										</div>
									</li>

									<li class="list-group-item pt-3">
										<label class="label h5"> Numero piani: </label> <%= department.floors %>
									</li>

									<li class="list-group-item pt-3">
										<label class="label h5"> Spazi disponibili: </label> <%= department.number_of_spaces %>
									</li>

									<li class="list-group-item pt-3"> 
										<label class="label h5"> Email del manager </label> <br>
										<%= department.manager %>
									</li>
								</ul>	
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<!-- Zona destra del sito -->
		<div class="col-xl-4">
			<!-- Bottone per la prenotazione rapida -->
			<div class="card bg-dark text-white mb-4">
				<div class="card-header">
					<table>
						<tr>
							<td width="90%">
								<h4 class="font-weight-light"> Prenotazione rapida </h4>
								<div class="small text-muted"> Verrà prenotato il primo orario disponibile in data odierna per lo spazio sotto riportato </div>
							</td>
							<td width="10%">
								<button class="btn btn-sm btn-outline-info"> <i class='bi bi-cursor'></i><br> prenota </button> </div>								
							</td>
						</tr>
					</table>
				</div>
				<li class="list-group-item bg-dark text-white">
					<label class="label h5"> Dipartimento: </label> <%= "@quick_reservation.dep_name" %>
					<br>
					<label class="label h5"> Tipologia - Spazio: </label> <%= "@quick_reservation.typology - @quick_reservation.space_name" %>
				</li>
			</div>

			<!-- Mappa per geolocalizzazione -->
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header text-center h3"> Mappa </div>
				<div class="card-body text-center">
					<div id="map"></div>
					<!-- Utilizzo LEAFLET e OSM per generare una mappa centrata su Roma -->
					<p id="centra">Indirizzo</p>
					<script>
					var map = L.map('map').setView([41.89333, 12.48302], 13);
					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19,
						attribution: '© OpenStreetMap'
					}).addTo(map);

					document.getElementById("centra").onclick = function() {centra_mappa()};
					function centra_mappa(dep, lat, lon) {
					map.setView([lat, lon], 18);
					document.getElementById("centra").innerHTML = "Indirizzo: "+dep;
					}
					</script>
					
				</div>
			</div>

		</div>
	</div>
</body>
</html>