<!-- Pagina Home -->
<!DOCTYPE html>
<html lang="it">
<head>

	<title> Home - Spacebook </title>
	<%= javascript_pack_tag 'leaflet' %>
	<%= stylesheet_link_tag 'leaflet',media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="row">
		<div class="col-lg-8" style="height:100%">
			<!-- Introduzione -->
			<div class="card">
				<div class="card-header">
					<h2 class="text-white mt-2 mb-3"> Benvenuto </h2>
					<p class="card-text text-white">
						Speriamo ti troverai bene nel nostro sito, siamo super fighi e strabravi perciò vedi di non rompere e non fare danni!
						Registrati e prenota tutti gli spazi che vuoi in pochi e semplici passi (se non ci riesci hai dei problemi)
						<br>
						<% if !user_signed_in? %>
							Per effettuare una prenotazione <%= link_to "accedi", "/users/sign_in", class: "colorLink" %> o <%= link_to "registrati", "/users/sign_up", class: "colorLink" %>
						<% end %>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<% if user_signed_in? %>
				<!-- Bottone per la prenotazione rapida -->
				<div class="card mb-4">
					<div class="card-header">
						<table width="100%">
							<tr>
								<% if @quick_reservation %>
									<td>
										<h4 class="text-white"> Prenotazione rapida </h4>
										<div class="small text-white"> Verrà prenotato il primo orario disponibile in data odierna per lo spazio sotto riportato </div>
									</td>
									<td class="px-1" style="text-align:right"> <a class="btn btn-sm btn-outline-info" href="/make_quick_res"> <i class='bi bi-cursor'></i> <br> Prenota </a> </td>
								<% else %>
									<td>
										<h4 class="text-white"> Prenotazione rapida </h4>
										<div class="small text-white"> Verrà prenotato il primo orario disponibile in data odierna per lo spazio che imposterai </div>
									</td>
									<td class="text-right"> <a class="btn btn-sm btn-outline-info" href="/make_reservation"> <i class='bi bi-pen'></i> <br> Imposta </a> </td>
								<% end %>
							</tr>
						</table>
					</div>
					<div class="card-footer">
						<% if @quick_reservation %>
							<div class="row">
								<div class="col-lg-6"> <label class="label h5"> Dipartimento: </label> </div>
								<div class="col-lg-6"> <%= @quick_reservation.dep_name %> </div>
								<div class="col-lg-6"> <label class="label h5"> Tipologia - Spazio: </label> </div>
								<div class="col-lg-6"> <%= @quick_reservation.typology %> - <%= @quick_reservation.space_name %> </div>
							</div>
						<% else %>
							Non impostata
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<!-- Barra di ricerca per dipartimenti -->
		<div class="col-xl-6">
			<form class="d-none d-md-inline-block form-inline mt-3 mb-1">
				<div class="input-group">
					<table width="100%" class="rounded btn-outline-info">
						<tr>
							<td width="90%"><input type="text" class="form-control btn-outline-info" placeholder="Trova un dipartimento..." id="depSearchHome"/></td>
							<td width="10%"><button class="btn btn-info bi bi-search" id="btnNavbarSearch" type="button"></button></td>
						</tr>
					</table>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<!-- Lista di tutti i dipartimenti dell'applicazione -->
			<div class="row mb-3">
				<% @departments.each do |department| %>
					<div class="col-sm-6">
						<!-- Card che mostra il dipartimento corrente -->
						<div class="card mt-3 mb-2">
							<div class="card-header">
								<table width="100%">
									<tr>
										<td width="88%">
											<h3 class="mt-4 mb-2"> <%= department.name %> </h3>
											<div class="small"> 
												<%= department.via %>, <%= department.civico %>, <%= department.cap %>, <%= department.citta %>, <%= department.provincia %> 
												<label onclick='centra_mappa("<%= department.latitude %>","<%= department.longitude %>","<%= department.name %>", "<%=department.via+" "+department.civico+" "+department.citta+" "+department.cap %>")', class="colorLink bi bi-geo-fill px-2"> </label>
											</div>
										</td>
										<td width="12%" class="text-right">
											<% if user_signed_in? %>
												<button class="btn btn-sm btn-outline-info" onclick="window.location.href='/make_reservation'"> <i class='bi bi-cursor'></i><br> prenota </button>
											<% else %>
												<button class="btn btn-sm btn-outline-info disabled" id="prenotaBtnDisabilitato"> <i class='bi bi-cursor'></i><br> prenota </button> <!-- cambiare in grigio il colore -->
											<% end %>
										</td>
									</tr>
								</table>
							</div>
							<div class="card-body" style="background-color: transparent !important">
								<!-- Descrizione -->
								<!-- Icona interattiva per visualizzare il collapse della descrizione -->
								<label class="label h5 py-1" data-bs-toggle="collapse" data-bs-target="#dep<%= department.id %>DescCollapse" aria-expanded="false" aria-controls="collapseExample"> Descrizione <i class="colorLink bi bi-card-text"></i> </label> 
								<!-- Collapse della descrizione -->
								<div class="collapse" id="dep<%= department.id %>DescCollapse">
									<%= department.description %>
								</div>
								<br>

								<!-- Orari -->
								<!-- Icona interattiva per visualizzare il collapse degli orari -->
								<label class="label h5 py-1" data-bs-toggle="collapse" data-bs-target="#dep<%= department.id %>OrariCollapse" aria-expanded="false" aria-controls="collapseExample"> Orari <i class="colorLink bi bi-clock"></i> </label> 
								<!-- Collapse degli orari -->
								<div class="collapse" id="dep<%= department.id %>OrariCollapse">
									<!-- Raccoglie tutti gli orari del dipartimento e li inserisce nel dropdown -->
									<% @week_days.where(department_id: department.id).each do |wd| %>
										<div class="row">
											<div class="col-sm-3">
												<h6><%= wd.day %></h6>
											</div>
											<div class="col-sm-9">
												<%= wd.apertura.strftime('%H:%M') %>-<%= wd.chiusura.strftime('%H:%M') %>
											</div>
										</div>
									<% end %>
								</div>
								<br>

								<label class="label h5 py-1"> Numero piani: </label> <%= department.floors %><br>

								<label class="label h5 py-1"> Spazi disponibili: </label> <%= department.number_of_spaces %><br>

								<label class="label h5 py-1"> Email del manager: </label> <%= department.manager %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-lg-4">
			<!-- Mappa per geolocalizzazione -->
			<div class="card mt-3 mb-2">
				<div class="card-header text-white text-center h3"> Mappa </div>
				<div class="card-body text-white text-center">
					<div id="map"></div>
					<!-- Utilizzo LEAFLET e OSM per generare una mappa centrata su Roma -->
					<script>
					var map = L.map('map').setView([41.89333, 12.48302], 13);
					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19,
						attribution: '© OpenStreetMap'
					}).addTo(map);

					document.getElementById("centra").onclick = function() {centra_mappa()};
					function centra_mappa(lat, lon, dep_n, dep) {
					map.setView([lat, lon], 18);
					var myIcon = L.icon({
					iconUrl: '<%=image_path('marker-icon-2x.png')%>',
					shadowUrl: '<%=image_path('marker-shadow.png')%>',
					iconSize:     [30, 50], // size of the icon
					shadowSize:   [30, 64], // size of the shadow
					iconAnchor:   [17, 58], // point of the icon which will correspond to marker's location
					shadowAnchor: [9, 75], // the same for the shadow
					popupAnchor:  [-3, -60] // point from which the popup should open relative to the iconAnchor
					});
					L.marker([lat, lon],{icon: myIcon}).addTo(map).bindPopup(dep_n+"<br>"+dep).openPopup();
					}
					</script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>