<%= form_with(model: temp_dep) do |form| %>
  <% if temp_dep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp_dep.errors.count, "error") %> prohibited this temp_dep from being saved:</h2>

      <ul>
        <% temp_dep.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :manager %>
    <%= form.text_field :manager %>
  </div>

  <div class="field">
    <%= form.label :via %>
    <%= form.text_field :via %>
  </div>

  <div class="field">
    <%= form.label :civico %>
    <%= form.text_field :civico %>
  </div>

  <div class="field">
    <%= form.label :cap %>
    <%= form.text_field :cap %>
  </div>

  <div class="field">
    <%= form.label :citta %>
    <%= form.text_field :citta %>
  </div>

  <div class="field">
    <%= form.label :provincia %>
    <%= form.text_field :provincia %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :floors %>
    <%= form.number_field :floors %>
  </div>

  <div class="field">
    <%= form.label :number_of_spaces %>
    <%= form.number_field :number_of_spaces %>
  </div>

  <div class="field">
    <%= form.label :slot %>
    <%= form.number_field :slot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
