<!-- Modal di modifica per gli spazi temporanei inseriti nella tabella -->

<div class="modal fade" id="tempSpID<%= jcs.id %>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content form-c-label">
            <div class="modal-header">
                <label class="h4"> modifica lo spazio "<%= jcs.typology %>: <%= jcs.name %>" </label>
                <button type="button" class="btn bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_with(model: jcs) do |form| %>
                    <% if jcs.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
                        <div id="error_explanation">
                        <h2><%= pluralize(jcs.errors.count, "error") %> prohibited this space from being saved:</h2>

                        <ul>
                            <% jcs.errors.each do |error| %>
                                <li><%= error.full_message %></li>
                            <% end %>
                        </ul>
                        </div>
                    <% end %>

                    <!-- Campi inseriti dal manager -->
                    <div class="form-floating mb-3">
                        <%= form.select( :typology, [[jcs.typology, selected: true, hidden: true],["Aula"], ["Isola"], ["Biblioteca"], ["Laboratiorio"]], {}, {class: "form-select", id: "tipSpazio"}) %>
                        <label for="tipSpazio"> Seleziona la tipologia corretta dello spazio </label>
                    </div>

                    <div class="form-floating mb-3">
                        <%= form.text_field :name, class: "form-control", required: :true, id: "spazioName", placeholder: "plh"%>
                        <label for="spazioName"> Nome dello spazio </label>
                    </div>

                    <div class="form-floating mb-3">
                        <%= form.number_field :floor, class: "form-control", required: :true, min:0, max: mydep.floors-1, id: "piano", placeholder: "plh"%>
                        <label for="piano"> Piano al quale si trova </label>
                    </div>

                    <div class="form-floating mb-3">
                        <%= form.number_field :number_of_seats, class: "form-control", min: 1, required: :true, id: "numPosti", placeholder: "plh"%>
                        <label for="numPosti"> Numero di posti prenotabili </label>
                    </div>

                    <div class="form-floating mb-3">
                        <div class="label">
                            <%= form.label 'Descrizione dello spazio' %>
                        </div>
                        <div class="field"> 
                            <%= form.text_area :description, :class=>"form-control", rows: 5, :style=>"width:100%" %>
                        </div>
                    </div>

                    <!-- Tasto per l'update -->
                    <div class="actions">
                        <%= form.submit 'Aggiorna lo spazio', class:"btn btn-info", style: 'width:100%' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>