<!-- Modal per impostare gli orari temporanei -->

<div class="modal fade" id="tempWDID<%= table_day %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> Modifica gil orari per "<%= table_day %>" </h5>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" aria-label="Close"> Annulla </button>
            </div>
            <div class="modal-body">
                <%= form_with(model: temp_week_day) do |form| %>
                    <% if temp_week_day.errors.any? %> <!-- 'if' generato da rails generate scaffold -->
                        <div id="error_explanation">
                        <h2><%= pluralize(temp_week_day.errors.count, "error") %> prohibited this space from being saved:</h2>

                        <ul>
                            <% temp_week_day.errors.each do |error| %>
                                <li><%= error.full_message %></li>
                            <% end %>
                        </ul>
                        </div>
                    <% end %>

                    <!-- Campi inseriti automaticamente -->
                    <%= form.number_field :temp_dep_id, required: true, value: mydep.id, readonly: true, :style=>'display:none'%>
                    <%= form.text_field :dep_name, required: true, value: mydep.name, readonly: true, :style=>'display:none'%>
                    <%= form.text_field :day, value: table_day, required: true, readonly: true, :style=>'display:none'%>

                    <!-- Campi inseriti dal manager -->
                    <table class="text-center" width="100%">
                        <tr>
                            <td colspan="2">
                                <div class="form-floating mb-3">
                                    <%= form.select( :state, [["Chiuso"], ["Aperto"]], {}, {class: "form-select", id: "twdState"})%>
                                    <label for="twdState"> <%= table_day %> </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-floating mb-3">
                                    <h6> Apertura </h6>
                                    <%= form.time_select( :apertura, {}, { class: "form-control text-center mx-auto py-0", style: "width:50%; height:auto;"} ) %>
                                </div>
                            </td>
                            <td>
                                <div class="form-floating mb-3">
                                    <h6> Chiusura </h6>
                                    <%= form.time_select( :chiusura, {}, { class: "form-control text-center mx-auto py-0", style: "width:50%; height:auto;"} ) %>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- Tasto per la creazione -->
                    <div class="actions">
                        <%= form.submit class:"btn btn-outline-info", value: "Imposta", style: "width:100%"%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>