<p id="notice"><%= notice %></p>

<h1>Temp Deps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manager</th>
      <th>Via</th>
      <th>Civico</th>
      <th>Cap</th>
      <th>Citta</th>
      <th>Provincia</th>
      <th>Description</th>
      <th>Floors</th>
      <th>Number of spaces</th>
      <th>Slot</th>
      <th>Min apertura</th>
      <th>Ora apertura</th>
      <th>Min chiusura</th>
      <th>Ora chiusura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp_deps.each do |temp_dep| %>
      <tr>
        <td><%= temp_dep.name %></td>
        <td><%= temp_dep.manager %></td>
        <td><%= temp_dep.via %></td>
        <td><%= temp_dep.civico %></td>
        <td><%= temp_dep.cap %></td>
        <td><%= temp_dep.citta %></td>
        <td><%= temp_dep.provincia %></td>
        <td><%= temp_dep.description %></td>
        <td><%= temp_dep.floors %></td>
        <td><%= temp_dep.number_of_spaces %></td>
        <td><%= temp_dep.slot %></td>
        <td><%= temp_dep.min_apertura %></td>
        <td><%= temp_dep.ora_apertura %></td>
        <td><%= temp_dep.min_chiusura %></td>
        <td><%= temp_dep.ora_chiusura %></td>
        <td><%= link_to 'Show', temp_dep %></td>
        <td><%= link_to 'Edit', edit_temp_dep_path(temp_dep) %></td>
        <td><%= link_to 'Destroy', temp_dep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp Dep', new_temp_dep_path %>
