<!DOCTYPE html>
<html lang="it">
<head>

	<title> prenotazioni - Spacebook </title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css">

	<script>
        $(document).ready(function () {
            $('#datatablePrenotazioni').DataTable({
                dom: '<"row"<"col"l>><"row"<"col"<"dropdown-divider mb-0">>><"row"<"col"t>><"row mt-1"<"col"p>><"row"<"col"<"dropdown-divider">>>',
                scrollX: true,
                filter: 'false',
                pagingType: "simple_numbers",
                pageLength: 10,
                language: {
                    lengthMenu: '<label><h6> Mostra </h6></label> _MENU_ <label><h6> prenotazioni contemporaneamente </h6></label>',
                    zeroRecords: 'Nessuna prenotazione',
                    paginate: {
                        first:    '<i class="bi bi-caret-left-fill"></i>',
                        previous: '<i class="bi bi-arrow-left-circle"></i>',
                        next:     '<i class="bi bi-arrow-right-circle"></i>',
                        last:     '<i class="bi bi-caret-right-fill"></i>'
                    }
                }
            });
        });
    </script>

</head>

<body>
	<div class="row mt-4">
		<div class="col">
			<div class="card shadow-lg border-0 rounded-lg">
				<div class="card-header text-center">
					<h3 class="font-weight-light my-3"> Le tue prenotazioni </h3>
				</div>
				<div class="card-body">
					<table id="datatablePrenotazioni" class="display table-responsive table-striped table-hover" width="100%">
						<thead>
							<tr>
								<th>Dipartimento</th>
								<th>Tipologia</th>
								<th>Spazio</th>
								<th>Piano</th>
								<th>Posto</th>
								<th>Data</th>
								<th>Orario</th>
								<th>Stato</th>
								<th>Sincronizzata su calendar</th>
								<th>Opzioni</th>
							</tr>
						</thead>
						<tbody>
							<% Reservation.where(email: current_user.email).each do |reservation| %>
								<tr>
									<td><%= reservation.dep_name %></td>
									<td><%= reservation.typology %></td>
									<td><%= reservation.space_name %></td>
									<td><%= reservation.floor %></td>
									<td><%= reservation.seat_num %></td>
									<td><%= reservation.start_date.mday %>-<%= reservation.start_date.mon %>-<%= reservation.start_date.year %></td>
									<td><%= reservation.start_date.strftime('%H:%M') %> - <%= reservation.end_date.strftime('%H:%M') %> </td>
									<td><%= reservation.state %></td>
									<td><%= (reservation.is_sync!=nil)? "Si" : "No" %></td>
									<td><%= button_to 'Rimuovi', reservation, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-outline-info" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<button class="btn btn-outline-info" onclick="window.location.href='/make_reservation'" style="width:100%"> Effettua una nuova prenotazione </button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

