<!DOCTYPE html>
<html lang="it">
<head>

	<title> Le tue prenotazioni - Spacebook </title>

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css">

	<script>
		$(document).ready(function () {
			$('#datatablePrenotazioni').DataTable({
				dom: '<"row"<"col"t>><"row mt-1"<"col"p>>',
				scrollX: true,
				filter: 'false',
				pagingType: "simple_numbers",
				pageLength: 7,
				language: {
					zeroRecords: 'Nessuna prenotazione',
					paginate: {
						first:    '<i class="bi bi-caret-left-fill"></i>',
						previous: '<i class="bi bi-arrow-left-circle"></i>',
						next:     '<i class="bi bi-arrow-right-circle"></i>',
						last:     '<i class="bi bi-caret-right-fill"></i>'
					}
				}
			});
		});
	</script>

</head>

<body>
	<div class="row mt-4 justify-content-center">
		<div class="col-lg-10">
			<div class="card">
				<div class="card-header">
					<label class="h4 ml-2 my-3"> Le tue prenotazioni </label>
				</div>
				<div class="card-body">
					<table id="datatablePrenotazioni" class="display table-responsive table-striped table-hover" width="100%">
						<thead>
							<tr>
								<td class="h5" width="25%"> Dipartimento </td>
								<td class="h5" width="15%"> Tipologia </td>
								<td class="h5" width="15%"> Spazio </td>
								<td class="h5" width="5%"> Piano </td>
								<td class="h5" width="5%"> Posto </td>
								<td class="h5" width="10%"> Data </td>
								<td class="h5" width="10%"> Orario </td>
								<td class="h5" width="10%"> Stato </td>
								<td class="h5 opt-no-sort" width="5%"> Elimina </td>
							</tr>
						</thead>
						<tbody>
							<% Reservation.where(user_id: current_user.id).each do |reservation| %>
								<tr>
									<td><%= reservation.dep_name %></td>
									<td><%= reservation.typology %></td>
									<td><%= reservation.space_name %></td>
									<td><%= reservation.floor %></td>
									<td><%= reservation.seat_num %></td>
									<td><%= reservation.start_date.mday %>-<%= reservation.start_date.mon %>-<%= reservation.start_date.year %></td>
									<td><%= reservation.start_date.strftime('%H:%M') %> - <%= reservation.end_date.strftime('%H:%M') %> </td>
									<td><%= reservation.state %></td>
									<td><%= link_to '', reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-info bi bi-trash", style: "width: 100%" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<button class="btn btn-outline-info" onclick="window.location.href='/make_reservation'" style="width:100%"> Effettua una nuova prenotazione </button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

