<p id="notice"><%= notice %></p>

<h1>Ecco le tue prenotazioni</h1>

<table class = "table table-striped table-bordered">
  <thead class="thead">
    <tr>
      <th>Dipartimento</th>
      <th>Tipologia</th>
      <th>Spazio</th>
      <th>Piano</th>
      <th>Posto</th>
      <th>data inizio</th>
      <th>data fine</th>
      <th>Stato</th>
      <th>Opzioni</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.dep_name %></td>
        <td><%= reservation.typology %></td>
        <td><%= reservation.space_name %></td>
        <td><%= reservation.floor %></td>
        <td><%= reservation.seat_num %></td>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td><%= reservation.state %></td>
        <td><%= button_to 'Rimuovi', reservation, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btnLogout" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<br/>
<br/>

<div class = "actions" >
<button  class="btn btn-signup" onclick="window.location.href='/make_reservation'">Effettua una nuova prenotazione</button>
</div>