<!DOCTYPE html>
<html lang="it">
<head>

	<title> Informazioni - Spacebook </title>

</head>

<body>
	<!-- CARD CON LE INFORMAZIONI -->
	<div class="row mx-4 my-3">
		<div class="col-md-2 col-lg-3 d-flex justify-content-center" style="display: flex; align-items: center;">
			<img class="card-img" id="infoSpacebookLogo" src="<%= image_path('def-removebg-preview.png')%>">
		</div>
		<div class="col-md-10 col-lg-9" style="display: flex; align-items: center;">
			<div class="card">
				<div class="card-body">
					<h2 class="font-weight-light mt-3 mb-2"> Funzionalità </h2>
					<p class="card-text pt-3">
						Il sito è progettato per consentire agli utenti di prenotare spazi all'interno di un dipartimento.
						<br>
						Al momento della registrazione, un visitatore può scegliere uno dei seguenti ruoli: utente base o utente manager.
						<br>
						Ogni utente registrato può accedere all'area personale dove può modificare la password e,
						eventualmente, sincronizzare le prenotazioni effettuate con il proprio account Google Calendar.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- LISTA DELLE FUNZIONALITÀ -->
	<div class="row mx-4 pt-3 mb-5">
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<h4 class="font-weight-bold text-white mb-3">
				<i class="far fa-paper-plane indigo-text pr-2"></i> Utente base
			</h4>
			<p class="text-white mb-lg-0">
				Accedi con le tue credenziali, effettua prenotazioni e gestiscile nella tua area personale 
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<h4 class="font-weight-bold text-white mb-3">
				<i class="far fa-paper-plane indigo-text pr-2"></i> Utente manager
			</h4>
			<p class="text-white mb-lg-0">
				Oltre a tutte le funzionalità di un utente base, al momento della registrazione verrai reindirizzato
				alla creazione di un nuovo dipartimento, che potrai gestire dalla tua area personale 
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<h4 class="font-weight-bold text-white mb-3">
				<i class="far fa-paper-plane indigo-text pr-2"></i> Prenotazione
			</h4>
			<p class="text-white mb-lg-0">
				Effettua prenotazioni degli spazi nel tuo dipartimento del cuore in tutta facilità 
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<h4 class="font-weight-bold text-white mb-3">
				<i class="far fa-paper-plane indigo-text pr-2"></i> Prenotazione rapida
			</h4>
			<p class="text-white mb-lg-0">
				Prenoti sempre lo stesso posto o hai bisogno di un posto di riserva in caso ti fossi dimenticato di prenotare?
				Nessun problema, effettua la prenotazione rapida!
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<h4 class="font-weight-bold text-white mb-3">
				<i class="far fa-paper-plane indigo-text pr-2"></i> Spazi preferiti
			</h4>
			<p class="text-white mb-lg-0">
				Aggiungi a una lista gli spazi che prenoti più spesso o che semplicemente ti piacciono di più
			</p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<h4 class="font-weight-bold text-white mb-3">
				<i class="far fa-paper-plane indigo-text pr-2"></i> Calendar
			</h4>
			<p class="text-white mb-lg-0">
				Sincronizza il tuo calendario di Google nell'area personale, potrai visualizzare tutti i tuoi impegni e le
				nuove prenotazioni appariranno lì, come per magia
			</p>
		</div>
	</div>

	<!-- TEAM -->
	<div class="row mt-5">
		<h3 class="font-weight-bold text-center text-white pb-2"> Executive Team </h3>
		<p class="text-center text-white w-responsive mx-auto mb-3">
			Ammirate e prostratevi ai vostri admin, supremi maestri nelle arti tecnologiche
			<br>
			Per dubbi o difficoltà non esitare a contattarci al seguente indirizzo mail < mail >
		</p>
	</div>
	<div class="row mx-4 my-4">
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('neptune.jpg')%>" style="height: 165px">
				<div class="card-body text-center">
					<h6 class="font-weight-bold"> Donia Ferjani </h6>
					<small class="text-white"> Co-funder & CEO </small>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('uranus.jpg')%>" style="height: 165px">
				<div class="card-body text-center">
					<h6 class="font-weight-bold"> Michela Fuselli </h6>
					<small class="text-white"> Co-funder & CEO </small>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('jupiter.jpg')%>" style="height: 165px">
				<div class="card-body text-center">
					<h6 class="font-weight-bold"> Francesco Guarino </h6>
					<small class="text-white"> Co-funder & CEO </small>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('mars.jpg')%>" style="height: 165px">
				<div class="card-body text-center">
					<h6 class="font-weight-bold"> Matteo Tedesco </h6>
					<small class="text-white"> Co-funder & CEO </small>
				</div>
			</div>
		</div>
    </div>

</body>
</html>