<!DOCTYPE html>
<html lang="it">
<head>

	<title> Informazioni - Spacebook </title>

</head>

<body>
	<!-- Info -->
	<div class="row mx-4 my-3">
		<div class="col-md-2 col-lg-3 d-flex justify-content-center" style="display: flex; align-items: center;">
			<img class="card-img" id="infoSpacebookLogo" src="<%= image_path('def-removebg-preview.png')%>">
		</div>
		<div class="col-md-10 col-lg-9" style="display: flex; align-items: center;">
			<div class="card">
				<div class="card-body py-4">
					<label class="h2 my-3"> Funzionalità </label>
					<p>
						Il sito è progettato per consentire agli utenti di prenotare spazi all'interno di un dipartimento.<br>
						Al momento della registrazione, un visitatore può scegliere uno dei seguenti ruoli: utente base o utente manager.<br>
						Ogni utente registrato può accedere all'area personale dove può modificare la password e, eventualmente, sincronizzare le prenotazioni effettuate con il proprio account Google Calendar.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Funzionalità -->
	<div class="row text-white mx-4 pt-3 mb-5">
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<label class="h4 mb-3"> <i class=""></i> Utente base </label>
			<p class="mb-lg-0"> Accedi con le tue credenziali, effettua prenotazioni e gestiscile nella tua area personale  </p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<label class="h4 mb-3"> <i class=""></i> Utente manager </label>
			<p class="mb-lg-0"> Oltre a tutte le funzionalità di un utente base, al momento della registrazione verrai reindirizzato alla creazione di un nuovo dipartimento, che potrai gestire dalla tua area personale </p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<label class="h4 mb-3"> <i class=""></i> Prenotazione </label>
			<p class="mb-lg-0"> Effettua prenotazioni degli spazi nel tuo dipartimento del cuore in tutta facilità </p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<label class="h4 mb-3"> <i class=""></i> Prenotazione rapida </label>
			<p class="mb-lg-0"> Prenoti sempre lo stesso posto o hai bisogno di un posto di riserva in caso ti fossi dimenticato di prenotare? Nessun problema, effettua la prenotazione rapida! </p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<label class="h4 mb-3"> <i class=""></i> Spazi preferiti </label>
			<p class="mb-lg-0"> Aggiungi a una lista gli spazi che prenoti più spesso o che semplicemente ti piacciono di più </p>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
			<label class="h4 mb-3"> <i class=""></i> Calendar </label>
			<p class="mb-lg-0"> Sincronizza il tuo calendario di Google nell'area personale, potrai visualizzare tutti i tuoi impegni e le nuove prenotazioni appariranno lì </p>
		</div>
	</div>
	<!-- Team info -->
	<div class="text-center text-white mt-5 pb-2">
		<label class="h3 pb-2"> Executive Team </label>
		<p class="w-responsive mx-auto mb-3">
			Per dubbi o difficoltà non esitare a contattarci al seguente indirizzo mail < spacebook.adm@gmail.com >
		</p>
	</div>
	<!-- Team members -->
	<div class="row mx-4 my-4">
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('neptune.jpg')%>" style="height: 100%">
				<div class="card-body text-center">
					<label class="h5"> Donia Ferjani </label>
					<p class="small"> Co-funder & CEO </p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('uranus.jpg')%>" style="height: 100%">
				<div class="card-body text-center">
					<label class="h5"> Michela Fuselli </label>
					<p class="small"> Co-funder & CEO </p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('jupiter.jpg')%>" style="height: 100%">
				<div class="card-body text-center">
					<label class="h5"> Francesco Guarino </label>
					<p class="small"> Co-funder & CEO </p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card">
				<img class="card-img-top img-fluid mx-auto" src="<%= image_path('mars.jpg')%>" style="height: 100%">
				<div class="card-body text-center">
					<label class="h5"> Matteo Tedesco </label>
					<p class="small"> Co-funder & CEO </p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
