<p id="notice"><%= notice %></p>

<p>
  <strong>Dep name:</strong>
  <%= @week_day.dep_name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @week_day.day %>
</p>

<p>
  <strong>State:</strong>
  <%= @week_day.state %>
</p>

<p>
  <strong>Apertura:</strong>
  <%= @week_day.apertura %>
</p>

<p>
  <strong>Chiusura:</strong>
  <%= @week_day.chiusura %>
</p>

<%= link_to 'Edit', edit_week_day_path(@week_day) %> |
<%= link_to 'Back', week_days_path %>
