<!DOCTYPE html>
<html lang="it">
<head>

	<title> Prenotazione rapida effettuata - Spacebook </title>

</head>

<body class="bg-primary">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row mt-4 justify-content-center my-5">
						<div class="col-lg-6 mt-5">
							<div class="card mt-5">
								<% if @reservation %>
									<div class="card-header text-center">
										<label class="h3 my-3"> Ecco la tua prenotazione rapida </label>
									</div>
									<div class="card-body">
										<table width="100%">
											<tr><td width="50%"><label class="h6 px-3"> Dipartimento: </label></td><td><%= @reservation.dep_name %></td></tr>
											<tr><td width="50%"><label class="h6 px-3"> Tipologia - Spazio: </label></td><td><%= @reservation.typology %> - <%= @reservation.space_name %></td></tr>
											<tr><td width="50%"><label class="h6 px-3"> Data: </label></td><td><%= @reservation.start_date.mday %> / <%= @reservation.start_date.mon %> / <%= @reservation.start_date.year %></td></tr>
											<tr><td width="50%"><label class="h6 px-3"> Orario: </label></td><td><%= @reservation.start_date.strftime('%H:%M') %> - <%= @reservation.end_date.strftime('%H:%M') %></td></tr>
											<tr><td width="50%"><label class="h6 px-3"> Piano: </label></td><td><%= @reservation.floor %></td></tr>
											<tr><td width="50%"><label class="h6 px-3"> Posto: </label></td><td><%= @reservation.seat_num %></td></tr>
										</table>
									</div>
								<% else %>
									<div class="card-header text-center">
										<label class="h3 my-3"> Ci dispiace... <br> Non ci sono posti disponibili in data odierna </label>
									</div>
								<% end %>
								<div class="card-footer">
									<div class="row">
										<div class="col-lg-6">
											<a class="btn btn-outline-info" style="width: 100%" href="/home"> <i class="bi bi-caret-left"></i> Home </a>
										</div>
										<div class="col-lg-6">
											<a class="btn btn-outline-info" style="width: 100%" href="/user_reservations"> Gestisci prenotazioni <i class="bi bi-caret-right"></i> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>