<!DOCTYPE html>
<html lang="it">
    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

		<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    </head>
    <body class="sb-nav-fixed">

        <!-- Controlla se l'utente ha effettuato l'accesso, se è manager e se non ha ancora un dipartimento creato -->
        <% if user_signed_in? and current_user.is_manager? and !current_page?('/make_department') and (Department.where(manager: current_user.email).count == 0) %> 
            <!-- In caso positivo viene reindirizzato di forza alla pagina '/make_department' tramite la funzione sotto riportata -->
            <% require_department %> <!-- Si veda 'application_controller.rb' per il corpo della funzione -->
        <% end %>

        <!-- Header del sito -->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark ">

            <a class="navbar-brand ms-auto me-0" href="/home"><h1> S P A C E B O O K </h1></a> <!-- Brand -->

            <ul class="navbar-nav ms-auto me-lg-4"> <!-- Dropdown dell'utente -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<% if !user_signed_in? %>
							<li><a class="dropdown-item" href="/users/sign_in">Accedi</a></li>
							<li><a class="dropdown-item" href="/users/sign_up">Registrati</a></li>
						<% else %>
							<li><p class="px-3"><%= current_user.email %></p></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" href="/personal_area">Area personale</a></li>
							<li><%= button_to 'Esci', destroy_user_session_path, method: :delete, :class => "dropdown-item" %></li>
						<% end %>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Controlla se la pagina corrente è tra quelle nella condizione -->
        <% if !current_page?("/users/sign_up") and !current_page?("/users/sign_in") and !current_page?("/make_department")%>
            <div id="layoutSidenav"> <!-- In caso negativo mostra sia la barra laterale del sito, sia lo yeld della pagina corrente, sia il footer -->
                <div id="layoutSidenav_nav">      <!-- Barra laterale -->
                    <nav class="sb-sidenav accordion sb-sidenav-dark pt-4" id="sidenavAccordion"> 
                        <div class="sb-sidenav-menu pt-4">
                            <div class="nav">

                                <a class="nav-link" href="/home">
                                    <div class="sb-nav-link-icon"><i class="bi bi-house-fill"></i></div>
                                    HOME
                                </a>

                                <a class="nav-link" href="/make_reservation">
                                    <div class="sb-nav-link-icon"><i class="bi bi-card-list"></i></div>
                                    Effettua prenotazione
                                </a>

                                <a class="nav-link" href="/home"> 	<!-- bottone da impementare o da rimuovere se si usa quello nella Home -->
                                    <div class="sb-nav-link-icon"><i class="bi bi-speedometer"></i></div>
                                    Prenotazione rapida
                                </a>

                                <!-- Controlla il ruolo dell'utente e ne visualizza le rispettive funzionalità -->
                                <% if user_signed_in? && current_user.roles in ["manager"]%>
                                    <a class="nav-link" href="/manager_department">
                                        <div class="sb-nav-link-icon"><i class="bi bi-building"></i></div>
                                        Mio dipartimento
                                    </a>
                                <% elsif user_signed_in? && current_user.roles in ["admin"]%>
                                    <a class="nav-link" href="/management">
                                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                        Gestione sito
                                    </a>
                                <% end %>

                                <a class="nav-link" href="/informations"> 
                                    <div class="sb-nav-link-icon"><i class="bi bi-info-circle"></i></div>
                                    Informazioni 
                                </a>

                                <!-- Cattura i messaggi di notifica e li stampa nella barra laterale -->
                                <% flash.each do |type, msg| %>
                                    <div class="alert alert-primary mx-2"> <b><%= msg %></b> </div>
                                <% end %>

                            </div>
                        </div>
                        <div class="sb-sidenav-footer">
                            <% if user_signed_in? %>
                                <div class="small">Logged in as:</div>
                                <%= current_user.email %>
                            <% else %>
                                <div class="small"> Non hai ancora effettuato l'accesso </div>
                            <% end %>
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content"> <!-- Corpo della pagina corrente -->
                    <main>
                        <div class="container-fluid px-4 pt-4">
                            <%= yield %>
                        </div>
                    </main>

                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        <% else %>                   <!-- In caso positivo mostra solo lo yeld della pagina corrente -->
            <%= yield %>
        <% end %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>