<!DOCTYPE html>
<html>
  <head>
    <title>Spacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? and current_user.is_manager? and !current_page?('/make_department') %>
    <% require_department %>     
  <% end %>

  <% if !user_signed_in? %>
    Non hai ancora eseguito l'accesso o la registrazione<br>
  <% end %>

  <button onclick="window.location.href='/home'"><h1>SPACEBOOK</h1></button>

    <% if !user_signed_in? %>
      <button onclick="window.location.href='/users/sign_in'">Accedi</button>
      <button onclick="window.location.href='/users/sign_up'">Registrazione</button>
    <% else %>
      <button onclick="window.location.href='/personal_area'">Area personale</button>  
      <% if current_user.roles in ["admin"] %>
        <button onclick="window.location.href='/management'">Gestione sito</button>
      <% end %>
    <% end %>

  <!--<p class="notice"><%= notice %></p>-->
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>

  <br>
  <br>

  <table>
    <td><button onclick="window.location.href='/informations'">Informazioni</button></td>
    <td>
      <% if user_signed_in? %>
        Hai fatto l'accesso come: [ <%= current_user.email %> ]
      <% end %>
    </td>
    <td>
      <% if user_signed_in? %>
        <%= button_to 'Esci', destroy_user_session_path, :method => :delete %>
      <% end %>
    </td>
  </table>

</html>
