<!DOCTYPE html>
<html>
  <head>
    <title>Spacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    ---------------Logged in as <%= current_user.email %>
  <% else %>
    ---------------You are not logged in yet
  <% end %>

  <button onclick="window.location.href='/informations'">Contatti + info sviluppatori</button><br>
  <button onclick="window.location.href='/home'">-------------------------------------------SPACEBOOK-------------------------------------------</button>
  <br>

  <% if user_signed_in? %>
      <button onclick="window.location.href='/personal_area'">Area personale</button>
      <button onclick="window.location.href='/management'">Gestione sito</button>
      <%= button_to 'Esci', destroy_user_session_path, :method => :delete %>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
