<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

		<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <!-- <script src="assets/demo/chart-area-demo.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<!-- <script src="js/scripts.js"></script> -->

		<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
		<!-- <script src="js/datatables-simple-demo.js"></script> -->

		<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

		<link rel = "stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
		<script src = "https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<script src = "https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

	</head>

	<% if user_signed_in? %> <!-- CONTROLLA SE L'UTENTE HA EFFETTUATO IL LOGIN -->
		<!-- CONTROLLA SE L'UTENTE E' MANAGER E SE HA CREATO UN DIPARTIMENTO -->
		<% if current_user.is_manager? and !current_page?('/make_department') and (Department.where(manager: current_user.email).count == 0) %>	
			<% require_department %> <!-- IMPONE LA CREAZIONE DEL DIPARTIEMNTO (per esaminare la funzione si veda application_controller ) -->
		<% end %>
	<% else %>
		Non hai ancora eseguito l'accesso o la registrazione<br>
	<% end %>



	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->
	<% flash.each do |type, msg| %> <!-- MOSTRA I MESSAGGI MARCATI COME FLASH UTILIZZANDO UNA CLASSE DI BOOTSTRAP -->
		<div class="alert alert-info">
			<%= msg %>
		</div>
	<% end %>

	<body>
		<div class="sb-nav-fixed">
			<%= yield %>
		</div>
	</body>

	<br><br>

<!-- FOOTER
	<footer class="py-5 bg-light mt-auto">
		<div class="container-fluid px-4">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; Your Website 2022</div>
				<div>
					<a href="#">Privacy Policy</a>
					&middot;
					<a href="#">Terms &amp; Conditions</a>
					<br>
					<% if user_signed_in? %>
						Hai fatto l'accesso come: [ <%= current_user.email %> ]
					<% end %>
					Qui puoi richiedere <a class="info"> informazioni </a> !
				</div>
			</div>
		</div>
	</footer>
 -->
</html>
