<!DOCTYPE html>
<html>
  <head>
    <title>Spacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <button onclick="window.location.href='/home'">----------------------------------SPACEBOOK----------------------------------</button>
  <button onclick="window.location.href='/home'">Contatti + info sviluppatori</button>

  <form>
    <% if user_signed_in? %>
      Logged in as <%= current_user.email%>
    <% end %>
  </form>

  <body>
    <%= yield %>
  </body>
</html>
